<!DOCTYPE html>
<html>
<head>
	<title>退回的合同</title>
	<meta charset="UTF-8">
	<meta http-equiv="Expires" content="0">
	<meta http-equiv="Pragma" content="no-cache">
	<meta http-equiv="Cache-control" content="no-cache">
	<meta http-equiv="Cache" content="no-cache">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

	<link rel="stylesheet" href="../../plugins/element/theme-default/index.css">
	<link rel="stylesheet" href="../../plugins/bootstrap-3.3.7/bootstrap.css">
	<link rel="stylesheet" href="../../css/main.css">
	<script src="../../libs/jquery-3.1.1.min.js"></script>
	<script src="../../plugins/layer/layer.js"></script>

	<script src="../../libs/bootstrap.min.js"></script>
	<script src="../../libs/json2.js"></script>
	<script src="../../libs/vue.min.js"></script>
	<script src="../../libs/axios.min.js"></script>
	<script src="../../js/axiso.js"></script>
	<script src="../../plugins/laydate/laydate.js"></script>
	<script src="../../plugins/element/index.js"></script>
</head>
<body>
<div id="rrapp" v-cloak>
	<div  v-show="showList" >
		<form role="form" class="contain">
			<div  class="form-group form-inline row">
				<select  v-model="condition.urgent" class="form-control">
					<option value="00">所有</option>
					<option value="QU_001">加急</option>
					<option value="QU_002">不加急</option>
				</select>
				<select id="intention" v-model="condition.queryTypeCode"  class="form-control">
					<option value="IN_001">合同号</option>
					<option value="IN_002">联系人</option>
					<option value="IN_003">顾问</option>
					<option value="IN_004">名称</option>
				</select>
				<input type="text"  v-model="condition.queryTypeValue" class="form-control">
				<div class="form-group">
					<span class="control-label" >日期</span>
					<div class="form-group"  style="padding-left: 0px;padding-right: 0px;margin: 5px 0px">
						<input type="text"  value="" id="createStartDate" class="form-control ">
					</div>
					<span class="control-label">到</span>
					<div class="form-group">
						<input type="text"  value="" id="createEndDate" class="form-control ">
					</div>
				</div>
				<div class="form-group" style="float: right">
					<a  class="btn btn-primary" ><i class="fa fa-plus"></i>&nbsp;查询</a>
				</div>
			</div>
		</form>
		<div style="margin-bottom: 50px;">
			<table class="table table-bordered" v-loading="listLoading">
				<colgroup>
					<col width="12%">
					<col width="8%">
					<col width="15%">
					<col width="6%">
					<col width="6%">
					<col width="6%">
					<col width="6%">
					<col width="8%">
					<col width="8%">
					<col width="10%">
					<col width="15%">
				</colgroup>
				<thead>
				<tr>
					<th>合同编号</th>
					<th>类型</th>
					<th>名称</th>
					<th>总费用</th>
					<th>定金</th>
					<th>尾款</th>
					<th>支出</th>
					<th>状态</th>
					<th>顾问</th>
					<th>创建时间</th>
					<th>操作</th>
				</tr>
				</thead>
				<tbody>
				<tr v-for="item in tableData">
					<td>{{item.agreementId}}</td>
					<td>{{item.agreementTypeDes}}</td>
					<td>{{item.tradeMarkName}}</td>
					<td>{{item.allcost}}</td>
					<td>{{item.earnest}}</td>
					<td>{{item.finalPayment}}</td>
					<td>{{item.pay}}</td>
					<td>{{item.status}}</td>
					<td>{{item.adviser}}</td>
					<td>{{item.createDate|formatterDate}}</td>
					<td><div class="btn-group" data-toggle="buttons-radio">
						<button  class="btn btn-primary btn-padding-reset"
								 @click="sureResource(item.id)">下载</button>
						<button  class="btn btn-primary btn-padding-reset"
								 @click="sureResource(item.id)">修改</button>
						<button  class="btn btn-primary btn-padding-reset"
								 @click="sureResource(item.id)">操作</button>
					</div>
					</td>
				</tr>
				</tbody>
			</table>
			<!--v-show="tableConfig.totalCount"-->
			<div class="page-wrap bottom_footer" >
				<el-pagination
						class="align-right"
						@size-change="handleSizeChange"
						@current-change="handleCurrentChange"
						:current-page="tableConfig.pageNumber"
						:page-sizes="[10, 20, 50]"
						:page-size='tableConfig.pageSize'
						layout="total, sizes, prev, pager, next, jumper"
						:total="tableConfig.totalCount">
				</el-pagination>
			</div>
		</div>
	</div>
	<!--修改合同 start-->
	<div v-show="showAgreement">
		<ul id="myTab" class="nav nav-tabs">
			<li class="active"><a href="#agreement" data-toggle="tab">合同</a> </li>
			<li><a href="#tradeMarkAgreement" data-toggle="tab">商标合同</a></li>
			<li><a href="#tradeMarkInfo" data-toggle="tab">商标信息</a></li>
			<li><a href="#firstParty" data-toggle="tab">甲方</a></li>

		</ul>
		<div id="myTabContent" class="tab-content">
			<div class="tab-pane fade in active" id="agreement">
				<form class="form-horizontal">
					<input type="text"  v-model="agreement.resourceId" class="hidden"/>
					<div class="form-group">
						<div class="col-sm-2 control-label">合同编号 </div>
						<div class="col-sm-10">
							<input type="text" class="form-control" v-model="agreement.agreementId" placeholder="名称" readonly/>
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-2 control-label">总费用</div>
						<div class="col-sm-10">
							<input type="text" class="form-control" v-model="agreement.allcost" placeholder="总费用(单位元)"/>
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-2 control-label">定金</div>
						<div class="col-sm-10">
							<input type="text" class="form-control" v-model="agreement.earnest" placeholder="定金(单位元)"/>
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-2 control-label">尾款</div>
						<div class="col-sm-10">
							<input type="text" class="form-control" v-model="agreement.finalPayment" placeholder="尾款(单位元)"/>
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-2 control-label">支出</div>
						<div class="col-sm-10">
							<input type="text" class="form-control" v-model="agreement.pay" placeholder="支出(单位元)"/>
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-2 control-label"></div>
						<input type="button" class="btn btn-primary" @click="updateAgreement" value="确定"/>
						&nbsp;&nbsp;<input type="button" class="btn btn-warning"  value="返回"/>
					</div>
				</form>
			</div>
			<!--商标合同-->
			<div class="tab-pane fade" id="tradeMarkAgreement">
				<form class="form-horizontal">
					<div class="form-group">
						<div class="col-sm-2 control-label">服务类型</div>
						<div v-model="tradeMarkAgreement.serviceTypeCode" class="col-sm-10">
							<label class="radio-inline">
								<input type="radio" name="specifyColor" id="register"  value="no" checked> 商标注册
							</label>
							<label class="radio-inline">
								<input type="radio" name="specifyColor" id="design" value="yes"> 商标设计
							</label>
							<label class="radio-inline">
								<input type="radio" name="specifyColor" id="hold" value="yes"> 商标代持
							</label>
							<label class="radio-inline">
								<input type="radio" name="specifyColor" id="name" value="yes"> 商标起名
							</label>
							<label class="radio-inline">
								<input type="radio" name="specifyColor" id="urgent" value="yes"> 商标加急
							</label>

						</div>
					</div>
					<input type="text"  v-model="agreement.resourceId" class="hidden"/>
					<div class="form-group">
						<div class="col-sm-2  control-label">合同编号 </div>
						<input type="text" class="col-sm-10 form-control" v-model="tradeMarkAgreement.agreementId" placeholder="名称" readonly/>
					</div>
					<div class="form-group">
						<div class="control-label col-sm-2">注册费</div>
						<input type="text" class="form-control col-sm-10" v-model="tradeMarkAgreement.registerCost" placeholder="注册费(单位元)"/>
					</div>
					<div class="form-group">
						<div class="control-label col-sm-2">设计费</div>
						<input type="text" class="form-control col-sm-10" v-model="tradeMarkAgreement.designCost" placeholder="设计费(单位元)"/>
					</div>
					<div class="form-group">
						<div class="control-label col-sm-2">查询费</div>
						<input type="text" class="form-control col-sm-10" v-model="tradeMarkAgreement.queryCost" placeholder="查询费(单位元)"/>
					</div>
					<div class="form-group">
						<div class="control-label col-sm-2">起名费</div>
						<input type="text" class="form-control col-sm-10" v-model="tradeMarkAgreement.nameCost" placeholder="起名费(单位元)"/>
					</div>
					<div class="form-group">
						<div class="control-label col-sm-2">代持费</div>
						<input type="text" class="form-control col-sm-10" v-model="tradeMarkAgreement.holdCost" placeholder="代持费(单位元)"/>
					</div>
					<div class="form-group">
						<div class="control-label col-sm-2">指定颜色</div>
						<div v-model="tradeMarkAgreement.specifyColor" class="col-sm-10">
							<label class="radio-inline">
								<input type="radio" name="specifyColor" id="optionsRadios4"  value="no" checked> 否
							</label>
							<label class="radio-inline">
								<input type="radio" name="specifyColor" id="optionsRadios3" value="yes"> 是
							</label>
						</div>
					</div>
					<div class="form-group">
						<div class="control-label col-sm-2">申请方式</div>
						<select  v-model="tradeMarkAgreement.applyTypeCode" class="col-sm-10 form-control">
							<option value="00">个人</option>
							<option value="QU_001">公司</option>
							<option value="QU_002">代持</option>
						</select>
					</div>


					<div class="form-group">
						<div class="col-sm-2 control-label"></div>
						<input type="button" class="btn btn-primary" @click="updateAgreement" value="确定"/>
						&nbsp;&nbsp;<input type="button" class="btn btn-warning"  value="返回"/>
					</div>
				</form>
			</div>
			<!--商标信息-->
			<div class="tab-pane fade" id="tradeMarkInfo">
				<div  class="form-group form-inline">
					<div class="form-group" style="float: right">
						<a  class="btn btn-primary" ><i class="fa fa-plus"></i>&nbsp;添加</a>
						<a  class="btn btn-primary" ><i class="fa fa-plus"></i>&nbsp;修改</a>
						<a  class="btn btn-primary" ><i class="fa fa-plus"></i>&nbsp;确认书</a>
						<a  class="btn btn-primary" ><i class="fa fa-plus"></i>&nbsp;删除</a>
					</div>
				</div>
				<table id="tradeMarkjqGrid"></table>
				<div id="tradeMarkjqGridPager"></div>
			</div>
			<!--甲方-->
			<div class="tab-pane fade" id="firstParty">
				<form class="form-horizontal">
					<input type="text"  v-model="agreement.resourceId" class="hidden"/>
					<div class="form-group">
						<div class="col-sm-2  control-label">联系人 </div>
						<input type="text" class="col-sm-10 form-control" v-model="tradeMarkAgreement.agreementId" />
					</div>
					<div class="form-group">
						<div class="control-label col-sm-2">甲方</div>
						<input type="text" class="form-control col-sm-10" v-model="tradeMarkAgreement.registerCost" />
					</div>
					<div class="form-group">
						<div class="control-label col-sm-2">邮箱</div>
						<input type="text" class="form-control col-sm-10" v-model="tradeMarkAgreement.designCost"/>
					</div>
					<div class="form-group">
						<div class="control-label col-sm-2">电话</div>
						<input type="text" class="form-control col-sm-10" v-model="tradeMarkAgreement.queryCost" />
					</div>
					<div class="form-group">
						<div class="control-label col-sm-2">地址</div>
						<input type="text" class="form-control col-sm-10" v-model="tradeMarkAgreement.nameCost" />
					</div>
					<div class="form-group">
						<div class="control-label col-sm-2">身份证</div>
						<input type="file" name="image" class="projectfile"/>
					</div>
					<div class="form-group">
						<div class="control-label col-sm-2">执照</div>
						<input type="file" name="image" class="projectfile"/>
					</div>
					<div class="form-group">
						<div class="control-label col-sm-2">确认书</div>
						<input type="file" name="image" class="projectfile"/>
					</div>
					<div class="form-group">
						<div class="control-label col-sm-2">委托书</div>
						<input type="file" name="image" class="projectfile"/>
					</div>
					<div class="form-group">
						<div class="control-label col-sm-2">合同(第一页)</div>
						<input type="file" name="image" class="projectfile"/>
					</div>
					<div class="form-group">
						<div class="control-label col-sm-2">合同(第二页)</div>
						<input type="file" name="image" class="projectfile"/>
					</div>
					<div class="form-group">
						<div class="control-label col-sm-2">合同(第三页)</div>
						<input type="file" name="image" class="projectfile"/>
					</div>
					<div class="form-group">
						<div class="control-label col-sm-2">合同(第四页)</div>
						<input type="file" name="image" class="projectfile"/>
					</div>



					<div class="form-group">
						<div class="col-sm-2 control-label"></div>
						<input type="button" class="btn btn-primary" @click="updateAgreement" value="确定"/>
						&nbsp;&nbsp;<input type="button" class="btn btn-warning"  value="返回"/>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
</body>

<script>
    new Vue({
        el:"#rrapp",
        data(){
            return {
                listLoading:false,
                showList:true,
                showAgreement:false,
                tableData: [],
                //表格参数
                tableConfig: {
                    //总数据
                    totalCount: 100,
                    //当前页
                    pageNumber: 1,
                    //每页条数
                    pageSize: 10,
                },
                condition: {
                    queryType: 'AQT_001',
                    urgent: '00',
                    queryTypeValue: null,
                    createStartDate: null,
                    createEndDate: null
                },
                agreement: {
                    agreementId: null,
                    allcost: null,
                    earnest: null,
                    finalPayment: null,
                    pay: null
                },
                tradeMarkAgreement: {
                    agreementId: null,
                    serviceTypeCode: null,
                    registerCost: null,
                    designCost: null,
                    queryCost: null,
                    nameCost: null,
                    hostCost: null,
                    queryCost: null,
                    specifyColor: null,
                    applyTypeCode: null
                }
            }

        },
        methods: {
            handleCurrentChange(val) {
                this.tableConfig.pageNumber = val;
                this.list();
            },
            handleSizeChange(val) {
                this.tableConfig.pageNumber = 1;
                this.tableConfig.pageSize = val;
                this.list();
            },
            list: function() {
                var _this=this;
                _this.tableData = [];
                axios.get('api/resource/agreement/list', {
                    params: {
                        page: _this.tableConfig.pageNumber,
                        limit: _this.tableConfig.pageSize
                    }
                }).then(function (response) {
                    console.log(response);
                    if(response.data.code === 0){
                        _this.tableData = response.data.page.list;
                        _this.tableConfig.totalCount = response.data.page.totalCount;
                    }else{
                        alert(response.data.msg);
                    }
                }).catch(function (error) {
                    console.log(error);
                });
            },
            updateAgreement:function(){

            }
        },
        mounted () {
            this.list();
        },

        filters: {
            formatterDate: function (value) {
                return (value == null || value == undefined) ? "" : value.trim().substring(0, 10);
            }
        },

    });

</script>

</html>