<!DOCTYPE html>
<html>
<head>
	<title>我的合同</title>
	<meta charset="UTF-8">
	<meta http-equiv="Expires" content="0">
	<meta http-equiv="Pragma" content="no-cache">
	<meta http-equiv="Cache-control" content="no-cache">
	<meta http-equiv="Cache" content="no-cache">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

	<link rel="stylesheet" href="../../plugins/element/theme-default/index.css">
	<link rel="stylesheet" href="../../plugins/bootstrap-3.3.7/css/bootstrap.css">
	<link rel="stylesheet" href="../../css/main.css">
	<script src="../../libs/jquery-3.1.1.min.js"></script>
	<script src="../../plugins/layer/layer.js"></script>

	<script src="../../plugins/bootstrap-3.3.7/js/bootstrap.js"></script>
	<script src="../../libs/json2.js"></script>
	<script src="../../libs/vue.min.js"></script>
	<script src="../../libs/axios.min.js"></script>
	<script src="../../js/axiso.js"></script>
	<script src="../../plugins/laydate/laydate.js"></script>
	<script src="../../plugins/element/index.js"></script>
	<script src="https://cdn.bootcss.com/vee-validate/2.0.9/vee-validate.min.js"></script>
	<script src="https://cdn.bootcss.com/vee-validate/2.0.9/locale/zh_CN.js"></script>
</head>
<body>
<div id="rrapp">
	<div  v-show="showList" >
		<form role="form" class="contain">
			<div  class="form-group form-inline row">
				<select  v-model="condition.urgent" class="form-control">
					<option value="00">所有</option>
					<option value="QU_001">加急</option>
					<option value="QU_002">不加急</option>
				</select>
				<select id="intention" v-model="condition.queryTypeCode"  class="form-control">
					<option value="IN_001">合同号</option>
					<option value="IN_002">联系人</option>
					<option value="IN_003">顾问</option>
					<option value="IN_004">名称</option>
				</select>
				<input type="text"  v-model="condition.queryTypeValue" class="form-control">
				<span class="form-inline">
                    <span class="demonstration">提交时间</span>
                    <el-date-picker
		                    v-model="condition.createStartDate"
		                    type="date"
		                    placeholder="选择日期"
		                    @change="getSubmitStartDate"
		                    value-format="yyyy-MM-dd">
                    </el-date-picker>
                </span>
				<span class="form-inline">
                    <span class="demonstration">到</span>
                    <el-date-picker
		                    v-model="condition.createEndDate"
		                    type="date"
		                    placeholder="选择日期"
		                    @change="getSubmitEndDate"
		                    value-format="yyyy-MM-dd">
                    </el-date-picker>
                </span>
				<div class="form-group">
					<a  class="btn btn-primary" ><i class="glyphicon glyphicon-search"></i>&nbsp;查询</a>
				</div>
			</div>
		</form>
		<div style="margin-bottom: 50px;">
			<table class="table table-bordered" v-loading="listLoading">
				<colgroup>
					<col width="12%">
					<col width="8%">
					<col width="14%">
					<col width="6%">
					<col width="6%">
					<col width="6%">
					<col width="6%">
					<col width="6%">
					<col width="10%">
					<col width="10%">
					<col width="16%">
				</colgroup>
				<thead>
				<tr>
					<th>合同编号</th>
					<th>类型</th>
					<th>名称</th>
					<th>总费用</th>
					<th>定金</th>
					<th>尾款</th>
					<th>支出</th>
					<th>状态</th>
					<th>顾问</th>
					<th>创建时间</th>
					<th>操作</th>
				</tr>
				</thead>
				<tbody>
				<tr v-for="item in tableData">
					<td>{{item.agreementId}}</td>
					<td>{{item.typeDes}}</td>
					<td>
                                <span v-for="(nameMap,index) in item.tradeMarkNameArray">
                                      {{nameMap.name}}
                                     <hr v-if="index<item.tradeMarkNameArray.length-1">
                                </span>
					</td>
					<td>{{item.allcost}}</td>
					<td>{{item.earnest}}</td>
					<td>{{item.finalPayment}}</td>
					<td>{{item.pay}}</td>
					<td>{{item.statusDes}}</td>
					<td>{{item.adviser}}</td>
					<td>{{item.createDate|formatterDate}}</td>
					<td><div class="btn-group" data-toggle="buttons-radio">
						<button  class="btn btn-primary btn-padding-reset"
						         @click="downLoadAgreement(item.nonChapterFileName,item.hasChapterFileName,item.finalFileName)">下载</button>
						<button  class="btn btn-primary btn-padding-reset"
						         @click="showUpdateAgreement(item.agreementId)" :disabled="item.statusCode!='AGS_003'">修改</button>
						<button  class="btn btn-primary btn-padding-reset"
						         @click="showBuildAgreement(item.agreementId)" :disabled="item.statusCode!='AGS_003'">生成</button>
						<button  class="btn btn-primary btn-padding-reset"
						         @click="submitAgreement(item.agreementId)" :disabled="item.statusCode!='AGS_003'">提交</button>
					</div>
					</td>
				</tr>
				</tbody>
			</table>
			<div class="page-wrap bottom_footer" >
				<el-pagination
						class="align-right"
						@size-change="handleSizeChange"
						@current-change="handleCurrentChange"
						:current-page="tableConfig.pageNumber"
						:page-sizes="[10, 20, 50]"
						:page-size='tableConfig.pageSize'
						layout="total, sizes, prev, pager, next, jumper"
						:total="tableConfig.totalCount">
				</el-pagination>
			</div>
		</div>
	</div>

	<!--修改合同-->
	<div class="modal fade" id="updateAgreement" tabindex="-1" role="dialog" aria-labelledby="updateAgreementLabel" aria-hidden="true" style="overflow: auto">
		<div class="modal-dialog  form-max-panel">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
						&times;
					</button>
					<h4 class="modal-title" id="updateAgreementLabel">
						修改合同
					</h4>
				</div>
				<div class="modal-body">


					<ul id="myTab" class="nav nav-tabs">
						<li class="active"><a href="#agreement" data-toggle="tab">合同</a> </li>
						<li><a href="#tradeMarkInfo" data-toggle="tab">商标信息</a></li>
						<li><a href="#firstParty" data-toggle="tab">甲方</a></li>
					</ul>
					<div id="myTabContent" class="tab-content">
						<div class="tab-pane fade in active" id="agreement">
							<form class="form-horizontal">
								<input type="text"  v-model="agreement.resourceId" class="hidden"/>
								<div class="form-group">
									<div class="col-sm-2 control-label">合同编号 </div>
									<div class="col-sm-10">
										<input type="text" class="form-control" v-model="agreement.agreementId"   readonly/>
									</div>
								</div>
								<div class="form-group">
									<div class="col-sm-2 control-label">总费用</div>
									<div class="col-sm-10">
										<input type="text" class="form-control" v-model="agreement.allcost"  v-validate="'required|numeric'" name="总费用" placeholder="总费用(单位元)"/>
										<div v-show="errors.has('总费用')" class="alert alert-danger">{{ errors.first('总费用') }}</div>
									</div>
								</div>
								<div class="form-group">
									<div class="col-sm-2 control-label">定金</div>
									<div class="col-sm-10">
										<input type="text" class="form-control" v-model="agreement.earnest" v-validate="'required|numeric'" name="定金" placeholder="定金(单位元)"/>
										<div v-show="errors.has('定金')" class="alert alert-danger">{{ errors.first('定金') }}</div>
									</div>
								</div>
								<div class="form-group">
									<div class="col-sm-2 control-label">尾款</div>
									<div class="col-sm-10">
										<input type="text" class="form-control" v-model="agreement.finalPayment" v-validate="'required|numeric'" name="尾款" placeholder="尾款(单位元)"/>
										<div v-show="errors.has('尾款')" class="alert alert-danger">{{ errors.first('尾款') }}</div>
									</div>
								</div>
								<div class="form-group">
									<div class="col-sm-2 control-label">支出</div>
									<div class="col-sm-10">
										<input type="text" class="form-control" v-model="agreement.pay" v-validate="'required|numeric'" name="支出" placeholder="支出(单位元)"/>
										<div v-show="errors.has('支出')" class="alert alert-danger">{{ errors.first('支出') }}</div>
									</div>
								</div>
								<div class="form-group">
									<div class="col-sm-2 control-label"></div>
									<input type="button" class="btn btn-primary" @click="updateAgreement('1')" value="确定"/>
									<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
								</div>
							</form>
						</div>

						<!--  商标信息-->
						<div class="tab-pane fade" id="tradeMarkInfo">
							<div  class="form-group form-inline">
								<div class="form-group" style="float: right">
									<input type="button" class="btn btn-primary" @click="showUpdateTradeMark('',tradeMarkInfo.agreementId)" value="添加商标"/>
								</div>
							</div>
							<table class="table table-bordered">
								<colgroup>
									<col width="20%">
									<col width="20%">
									<col width="20%">
									<col width="20%">
									<col width="20%">
								</colgroup>
								<thead>
								<tr>
									<th hidden>合同ID</th>
									<th hidden>商标ID</th>
									<th hidden>商标分类编码</th>
									<th>商标名</th>
									<th>分类</th>
									<th>图片</th>
									<th>商标局图片</th>
									<th>操作</th>
								</tr>
								</thead>
								<tbody>
								<tr v-for="item in tradeMarkData">
									<td hidden>{{item.agreementId}}</td>
									<td hidden>{{item.id}}</td>
									<td hidden>{{item.classifyCode}}</td>
									<td>{{item.name}}</td>
									<td>{{item.classifyDes}}</td>
									<td>
										<a href="#" class="thumbnail">
											<img :src="'http://localhost:8080/api/file/readImage?imgName='+item.img">
										</a>
									</td>
									<td>
										<a href="#" class="thumbnail">
											<img :src="'http://localhost:8080/api/file/readImage?imgName='+item.governmentImg">
										</a>
									</td>
									<td><div class="btn-group" data-toggle="buttons-radio">
										<button  class="btn btn-primary btn-padding-reset"
										         @click="showUpdateTradeMark(item.id,item.agreementId)">修改</button>
										<button  class="btn btn-primary btn-padding-reset"
										         @click="downLoadSureDoc(item.id)">确认书</button>
										<button  class="btn btn-primary btn-padding-reset"
										         @click="deleteTradeMark(item.id)">删除</button>
									</div>
									</td>
								</tr>
								</tbody>
							</table>
						</div>

						<!--甲方-->
						<div class="tab-pane fade" id="firstParty">
							<form class="form-horizontal">
								<div class="form-group">
									<div class="col-sm-2  control-label">联系人 </div>
									<div class="col-sm-10">
										<input type="text" class="form-control" v-validate="'required'" name="联系人" v-model="agreement.linkMan" />
										<div v-show="errors.has('联系人')" class="alert alert-danger">{{ errors.first('联系人') }}</div>
									</div>
								</div>

								<div class="form-group">
									<div class="control-label col-sm-2">甲方</div>
									<div class="col-sm-10">
										<input type="text" class="form-control " v-validate="'required'" name="甲方" v-model="agreement.firstParty" />
										<div v-show="errors.has('甲方')" class="alert alert-danger">{{ errors.first('甲方') }}</div>
									</div>
								</div>
								<div class="form-group">
									<div class="control-label col-sm-2">邮箱</div>
									<div class="col-sm-10">
										<input type="text" class="form-control" v-validate="'required|email'" name="邮箱" v-model="agreement.email"/>
										<div v-show="errors.has('邮箱')" class="alert alert-danger">{{ errors.first('邮箱') }}</div>
									</div>
								</div>
								<div class="form-group">
									<div class="control-label col-sm-2">电话</div>
									<div class="col-sm-10">
										<input type="text" class="form-control " v-validate="'required'" name="电话" v-model="agreement.phoneNumber" />
										<div v-show="errors.has('电话')" class="alert alert-danger">{{ errors.first('电话') }}</div>
									</div>
								</div>
								<div class="form-group">
									<div class="control-label col-sm-2">地址</div>
									<div class="col-sm-10">
										<input type="text" class="form-control " v-validate="'required'" name="地址" v-model="agreement.address" />
										<div v-show="errors.has('地址')" class="alert alert-danger">{{ errors.first('地址') }}</div>
									</div>
								</div>

								<div class="form-group">
									<div class="row">
										<div class="control-label col-sm-2">身份证</div>
										<div class="col-sm-10">
											<el-upload
													class="upload-demo"
													:action='"http://localhost:8080/api/file/upload/icdImgFace/"+agreement.agreementId'
													:on-success="handleSuccess"
													:limit="1"
													:file-list="uploadFile.icdImgFaceList">
												<el-button slot="trigger"  size="small" type="primary">正面上传</el-button>
												<el-button size="small"  type="success" :disabled="agreement.icdFaceImgName==null" @click="showImg(agreement.icdFaceImgName)">查看正面</el-button>
											</el-upload>
										</div>
									</div>
									<div class="row">
										<div class="col-sm-2"></div>
										<div class="col-sm-10">
											<el-upload
													class="upload-demo"
													:action='"http://localhost:8080/api/file/upload/icdImgReverse/"+agreement.agreementId'
													:on-success="handleSuccess"
													:limit="1"
													:file-list="uploadFile.icdImgReverseList">
												<el-button slot="trigger" size="small" type="primary">反面上传</el-button>
												<el-button size="small"  type="success" :disabled="agreement.icdReverseImgName==null" @click="showImg(agreement.icdReverseImgName)">查看反面</el-button>
											</el-upload>
										</div>
									</div>
								</div>

								<div class="form-group">
									<div class="control-label col-sm-2">执照</div>
									<div class="col-sm-10">
										<el-upload
												class="upload-demo"
												:action='"http://localhost:8080/api/file/upload/licenseImg/"+agreement.agreementId'
												:on-success="handleSuccess"
												:limit="1"
												:file-list="uploadFile.licenseImgList">
											<el-button slot="trigger"  size="small" type="primary">点击上传</el-button>
											<el-button size="small" type="success" :disabled="agreement.licenseImgName==null" @click="showImg(agreement.licenseImgName)">查看执照</el-button>
										</el-upload>
									</div>
								</div>
								<div class="form-group row">
									<div class="control-label col-sm-2">确认书</div>
									<div class="col-sm-10">
										<el-upload
												class="upload-demo"
												:action='"http://localhost:8080/api/file/upload/agreementSureDocImg/"+agreement.agreementId'
												:on-success="handleSuccess"
												:limit="1"
												:file-list="uploadFile.sureDocList">
											<el-button slot="trigger"  size="small" type="primary">点击上传</el-button>
											<el-button size="small" type="success" :disabled="agreement.sureDocImgName==null" @click="showImg(agreement.sureDocImgName)">查看确认书</el-button>
										</el-upload>
									</div>
								</div>
								<div class="form-group row">
									<div class="control-label col-sm-2">委托书</div>
									<div class="col-sm-10">
										<el-upload
												class="upload-demo"
												:action='"http://localhost:8080/api/file/upload/proxyImg/"+agreement.agreementId'
												:on-success="handleSuccess"
												:limit="1"
												:file-list="uploadFile.proxyImgList">
											<el-button slot="trigger"  size="small" type="primary">点击上传</el-button>
											<el-button size="small" type="success" :disabled="agreement.proxyImgName==null" @click="showImg(agreement.proxyImgName)">查看委托书</el-button>
										</el-upload>
									</div>
								</div>
								<div class="form-group">
									<div class="row">
										<div class="control-label col-sm-2">合同</div>
										<div class="col-sm-10 control-label " style="text-align: left;color: darkred">(请按照合同页码顺序上传，上传后自动生成pdf)</div>
									</div>
									<div class="row">
										<div class="col-sm-2"></div>
										<div class="col-sm-10">
											<el-upload
													class="upload-demo"
													:action='"http://localhost:8080/api/file/upload/agreementFile/"+agreement.agreementId'
													:on-success="handleSuccess"
													:limit="6"
													:file-list="uploadFile.agreementFileList">
												<el-button slot="trigger"  size="small" type="primary">点击上传</el-button>
												<el-button size="small" style="margin-left: 10px;" type="success" :disabled="agreement.finalFileName==null" @click="showImg(agreement.finalFileName)">查看合同</el-button>
											</el-upload>
										</div>
									</div>

								</div>
								<div class="form-group">
									<div class="col-sm-2 control-label"></div>
									<input type="button" class="btn btn-primary" @click="updateAgreement('2')" value="确定"/>
									<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!--start-->

	<div class="modal fade"  id="addTradeMark" tabindex="2" role="dialog" aria-labelledby="addTradeMarkLabel" aria-hidden="true" style="overflow: auto">
		<div class="modal-dialog ">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
						&times;
					</button>
					<h4 class="modal-title" id="addTradeMarkLabel">
						添加商标信息
					</h4>
				</div>
				<div class="modal-body">
					<form class="form-horizontal">
						<div class="form-group">
							<div class="col-sm-2 control-label">商标名称</div>
							<div class="col-sm-10">
								<input type="text" class="form-control" v-validate="'required'" name="商标名称" v-model="tradeMarkInfo.name"/>
								<div v-show="errors.has('商标名称')" class="alert alert-danger">{{ errors.first('商标名称') }}</div>
							</div>
						</div>
						<div class="form-group">
							<div class="col-sm-2 control-label">商标说明</div>
							<div class="col-sm-10">
								<textarea class="form-control" rows="3" v-model="tradeMarkInfo.remarks"></textarea>
							</div>

						</div>
						<div class="form-group">
							<div class="col-sm-2 control-label">图片</div>
							<div class="col-sm-10">
								<el-upload
										class="upload-demo"
										:action='"http://localhost:8080/api/file/upload/tradeMarkImg/"+tradeMarkInfo.id'
										:on-success="handleSuccess"
										:file-list="uploadFile.imgList">
									<el-button slot="trigger"  size="small" type="primary">点击上传</el-button>
									<div slot="tip" class="el-upload__tip">只能上传jpg/png文件，且不超过500kb</div>
								</el-upload>
							</div>
						</div>
						<div class="form-group">
							<div class="col-sm-2 control-label">商标局图片</div>
							<div class="col-sm-10">
								<el-upload
										class="upload-demo"
										:action='"http://localhost:8080/api/file/upload/governmentImg/"+tradeMarkInfo.id'
										:on-success="handleSuccess"
										:file-list="uploadFile.governmentImgList">
									<el-button slot="trigger"  size="small" type="primary">点击上传</el-button>
									<div slot="tip" class="el-upload__tip">只能上传jpg/png文件，且不超过500kb</div>
								</el-upload>
							</div>
						</div>
						<div class="form-group">
							<div class="col-sm-2 control-label">客户确认书</div>
							<div class="col-sm-10">
								<el-upload
										class="upload-demo"
										:action='"http://localhost:8080/api/file/upload/trademarkSureDoc/"+tradeMarkInfo.id'
										:on-success="handleSuccess"
										:file-list="uploadFile.trademarkSureDocList">
									<el-button slot="trigger"  size="small" type="primary">点击上传</el-button>
									<div slot="tip" class="el-upload__tip">只能上传jpg/png文件，且不超过500kb</div>
								</el-upload>
							</div>
						</div>
						<div class="form-group">
							<div class="col-sm-2 control-label">商标分类</div>
							<div class="col-sm-10">
								<select  v-model="tradeMarkInfo.classifyCode" v-validate="'required'" name="商标分类" class="form-control clo-sm-2">
									<option v-for="item in tradeMarkClassifyData" :value="item.code">{{item.des}}</option>
								</select>
								<div v-show="errors.has('商标分类')" class="alert alert-danger">{{ errors.first('商标分类') }}</div>
							</div>
						</div>
						<div class="form-group">
							<div class="col-sm-2 control-label">商标类型</div>
							<div class="col-sm-10">
								<select  v-model="tradeMarkInfo.docCode" v-validate="'required'" name="商标类型" class="form-control clo-sm-2">
									<option value="TMDT_001">文字</option>
									<option value="TMDT_002">图像</option>
									<option value="TMDT_003">文字+图像</option>
								</select>
								<div v-show="errors.has('商标类型')" class="alert alert-danger">{{ errors.first('商标类型') }}</div>
							</div>
						</div>
						<div class="form-group">
							<div class="col-sm-2 control-label">保护产品</div>
							<div class="col-sm-10">
								<textarea class="form-control" rows="3" v-model="tradeMarkInfo.protectProduct"  placeholder="用英文的逗号,不然生成合同会出现错误"></textarea>
							</div>
						</div>
						<div class="form-group">
							<div class="col-sm-2 control-label"></div>
							<input type="button" class="btn btn-primary" @click="saveOrupdateTradeMark()" value="确定"/>
							&nbsp;&nbsp;<input type="button" class="btn btn-warning" @click="backToAgreement(tradeMarkInfo.agreementId)" value="返回"/>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<!--end-->
	<!--查看图片 start-->
	<div class="modal fade"  id="preImg" tabindex="2" role="dialog" aria-labelledby="showImg" aria-hidden="true" style="overflow: auto">
		<div class="modal-dialog form-max-panel">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
						&times;
					</button>
					<h4 class="modal-title" id="showImg">
						查看图片
					</h4>
				</div>
				<div class="modal-body">
					<div>
						<img src=""  style="width:800px;overflow:auto; " id="readImage"/>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--查看图片 end-->
	<!--查看图片 start-->
	<div class="modal fade"  id="buildAgreement" tabindex="2" role="dialog" aria-labelledby="buildAgreementLabel" aria-hidden="true" style="overflow: auto">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
						&times;
					</button>
					<h4 class="modal-title" id="buildAgreementLabel">
						生成合同类型
					</h4>
				</div>
				<div class="modal-body">
					<div>
						<p><b>临时合同:</b>同时生成两份合同,一份有我方印章、一份无印章,生成合同无甲方印章或签字</p>
						<p><b>最终合同:</b>生成合同前请确保已按页面顺序上传甲方签字或盖章合同，否则会无法生成或生成错误</p>
						<input type="button" class="btn btn-primary" @click="buildAgreement('temp')" value="生成临时合同"/>
						&nbsp;&nbsp;<input type="button" class="btn btn-warning" @click="buildAgreement('final')" value="生成最终合同"/>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!--查看图片 end-->
</div>
</body>

<script>
    Vue.use(VeeValidate);
    VeeValidate.Validator.localize('zh_CN');
    new Vue({
        el:"#rrapp",
        data(){
            return {
                fileList: [],
                update_agreement_url:'/api/resource/agreement/update',
                listLoading:false,
                title:null,
                showList:true,
                showAgreement:false,
                showTradeMark:false,
                tableData: [],
                tradeMarkData:[],
                tradeMarkClassifyData:[],
                img_url:'http://localhost:8080/api/file/readImage?imgName=',
                //表格参数
                tradeMarkTableConfig: {
                    //总数据
                    totalCount: 0,
                    //当前页
                    pageNumber: 1,
                    //每页条数
                    pageSize: 10,
                },
                //表格参数
                tableConfig: {
                    //总数据
                    totalCount: 0,
                    //当前页
                    pageNumber: 1,
                    //每页条数
                    pageSize: 10,
                },
                uploadFile:{
                    icdImgFaceList:[],
                    icdImgReverseList:[],
                    licenseImgList:[],
                    trademarkSureDocList:[],
                    proxyImgList:[],
                    agreementFileList:[],
                    imgList:[],
                    governmentImgList:[],
                    sureDocList:[]
                },
                condition: {
                    queryType: 'AQT_001',
                    urgent: '00',
                    queryTypeValue: null,
                    createStartDate: null,
                    createEndDate: null
                },
                agreement: {
                    agreementId: null,
                    allcost: null,
                    earnest: null,
                    finalPayment: null,
                    pay: null,
                    linkMan:null,
                    firstParty:null,
                    email:null,
                    phoneNumber:null,
                    address:null,
                    finalFileName:null,
                    sureDocImgName:null,
                    icdFaceImgName:null,
                    icdReverseImgName:null,
                    licenseImgName:null,
                    proxyImgName:null,
                },
                tradeMarkAgreement: {
                    agreementId: null,
                    serviceTypeCode: null,
                    registerCost: null,
                    designCost: null,
                    queryCost: null,
                    nameCost: null,
                    hostCost: null,
                    queryCost: null,
                    specifyColor: null,
                    applyTypeCode: null
                },
                tradeMarkInfo:{
                    id:null,
                    agreementId: null,
                    name:null,
                    remarks:null,
                    img:null,
                    governmentImg:null,
                    sureDocImg:null,
                    classifyCode:null,
                    classifyDes:null,
                    docCode:null,
                    docDes:null,
                    protectProduct:null
                }
            }

        },
        methods: {
            /*上传成功后*/
            handleSuccess(){
                var _this=this;
                _this.getAgreementById(_this.agreement.agreementId);
            },
            handleRemove(file, fileList) {
                console.log(file, fileList);
            },
            handlePreview(file) {
                console.log(file);
            },
            handleCurrentChange(val) {
                this.tableConfig.pageNumber = val;
                this.list();
            },
            handleSizeChange(val) {
                this.tableConfig.pageNumber = 1;
                this.tableConfig.pageSize = val;
                this.list();
            },

            list: function() {
                var _this=this;
                _this.tableData = [];
                axios.get('api/resource/agreement/list', {
                    params: {
                        statusCode:'AGS_003',
                        page: _this.tableConfig.pageNumber,
                        limit: _this.tableConfig.pageSize
                    }
                }).then(function (response) {
                    if(response.data.code === 0){
                        _this.tableData = response.data.page.list;
                        _this.tableConfig.totalCount = response.data.page.totalCount;
                    }else{
                        alert(response.data.msg);
                    }
                }).catch(function (error) {
                    console.log(error);
                });
            },
            showImg:function(fileName){
                var _this=this;
                $("#preImg").modal('show');
                $("#readImage").attr('src',_this.img_url+fileName);

            },
            showBuildAgreement:function(agreementId){
                var _this=this;
                _this.agreement.agreementId=agreementId;
                $("#buildAgreement").modal('show');

            },
            buildAgreement:function(optional){
                var _this=this;
                if(optional=="temp"){
                    axios.get('api/resource/agreement/build/temp/'+_this.agreement.agreementId, {})
                        .then(function (response) {
                            if(response.data.code === 0){
                                alert('生成临时合同成功', function(){
                                    _this.list();
                                });
                            }else{
                                alert(response.data.msg);
                            }
                        }).catch(function (error) {
                        console.log(error);
                    });

                }else if(optional=="final"){
                    axios.get('api/resource/agreement/build/final/'+_this.agreement.agreementId, {})
                        .then(function (response) {
                            if(response.data.code === 0){
                                alert('生成最终合同成功', function(){
                                    _this.list();
                                });
                            }else{
                                alert(response.data.msg);
                            }
                        }).catch(function (error) {
                        console.log(error);
                    });
                }

            },
            showUpdateAgreement:function (id) {
                var _this=this;
                _this.getAgreementById(id);
                _this.tradeMarkInfo.agreementId=id;
                _this.listTradeMark(id);
                _this.getTrademarkClassify();
                $("#updateAgreement").modal('show');
                console.log("fileList:"+JSON.stringify(_this.uploadFile))
            },
            showUpdateTradeMark:function(id,agreementId){
                var _this=this;
                $("#addTradeMark").modal('show');

                if(id!=''&&id!=null&&id!=undefined){
                    axios.get('/api/resource/trademark/'+id,null)
                        .then(function (response) {
                            if(response.data.code === 0){
                                _this.tradeMarkInfo=response.data.data;
                                _this.tradeMarkInfo.img=null;
                                _this.tradeMarkInfo.governmentImg=null;
                                _this.tradeMarkInfo.sureDocImg=null;
                            }else{
                                alert(response.data.msg);
                            }
                        }).catch(function (error) {
                            console.log(error);
                        }
                    );
                }else{
                    var uuid='';
                    axios.get('/api/common/uuid',null)
                        .then(function (response) {
                            if(response.data.code === 0){
                                uuid=response.data.data;
                                _this.tradeMarkInfo.id=uuid;
                            }else{
                                return;
                            }
                        }).catch(function (error) {
                            console.log(error);
                        }
                    );
                    _this.tradeMarkInfo.agreementId=agreementId;
                    _this.tradeMarkInfo.name='';
                    _this.tradeMarkInfo.remarks='';
                    _this.tradeMarkInfo.img=null;
                    _this.tradeMarkInfo.governmentImg=null;
                    _this.tradeMarkInfo.sureDocImg=null;
                    _this.tradeMarkInfo.classifyCode='';
                    _this.tradeMarkInfo.classifyDes='';
                    _this.tradeMarkInfo.docCode='TMDT_041';
                    _this.tradeMarkInfo.docDes='';
                    _this.tradeMarkInfo.protectProduct='';
                }
                console.log(_this.tradeMarkInfo)

            },
            downLoadAgreement:function(nonChapterFileName,hasChapterFileName,finalFileName){
                var htmlStr='';
                if((nonChapterFileName==null || nonChapterFileName=='' || nonChapterFileName=='undefined')
                    &&(hasChapterFileName==null || hasChapterFileName=='' || hasChapterFileName=='undefined')
                    &&(finalFileName==null || finalFileName=='' || finalFileName=='undefined')){
                    htmlStr+='<b>无可下载合同资源,请生成对应资源</b>';
                }else{
                    if(nonChapterFileName!=null && nonChapterFileName!='' && nonChapterFileName!='undefined'){
                        htmlStr+="<a target='_blank' href='../../plugins/pdf/generic/web/viewer.html?file=/api/pdf/show/has/"+hasChapterFileName+"'>有章合同(支持在线打印)</a> " +
                            "</br>"
                    }
                    if(hasChapterFileName!=null && hasChapterFileName!='' && hasChapterFileName!='undefined'){
                        htmlStr+="<a target='_blank' href='../../plugins/pdf/generic/web/viewer.html?file=/api/pdf/show/non/"+ nonChapterFileName+"'>无章合同(支持在线打印)</a>" +
                            "</br>"
                    }
                    if(finalFileName!=null && finalFileName!='' && finalFileName!='undefined'){
                        htmlStr+="<a target='_blank' href='../../plugins/pdf/generic/web/viewer.html?file=/api/pdf/show/non/"+ finalFileName+"'>最终合同</a>"
                    }
                }

                alert(htmlStr)
            },
            backToAgreement:function(agreementId){
                var _this=this;
                _this.showList=false;
                _this.showAgreement=true;
                _this.showTradeMark=false;
                $('#myTab a[href="#tradeMarkInfo"]').tab('show')
            },
            getAgreementById:function(id){
                var _this=this;
                axios.get('/api/resource/agreement/get/'+id)
                    .then(function (response) {
                        if(response.data.code === 0){
                            _this.agreement=response.data.data;
                        }
                    }).catch(function (error) {
                        console.log(error);
                    }
                );

            },
            updateAgreement:function(val){
                var _this=this;
                if(val==1){
                    var agreementId = _this.agreement.agreementId;
                    var allcost = _this.agreement.allcost;
                    var earnest = _this.agreement.earnest;
                    var finalPayment = _this.agreement.finalPayment;
                    var pay = _this.agreement.pay;
                    if (!(agreementId&&allcost&&earnest&&finalPayment&&pay)) {
                        alert('请正确填写表单数据', function(){
                            _this.$validator.validate().then(result => {});
                            return ;
                        });
                    }
                }else{
                    var linkMan = _this.agreement.linkMan;
                    var firstParty = _this.agreement.firstParty;
                    var email = _this.agreement.email;
                    var phoneNumber = _this.agreement.phoneNumber;
                    var address = _this.agreement.address;
                    if (!(linkMan&&firstParty&&email&&phoneNumber&&address)) {
                        alert('请正确填写表单数据', function(){
                            _this.$validator.validate().then(result => {});
                            return ;
                        });
                    }
                }
                axios.post(_this.update_agreement_url, _this.agreement)
                    .then(function (response) {
                        if (response.data.code === 0) {
                            alert('操作成功', function () {
                                _this.list();
                            });
                        } else {
                            alert(response.data.msg);
                        }
                    }).catch(function (error) {
                        console.log(error);
                    }
                );
            },
            submitAgreement:function(id){
                var _this=this;
                alert('请确认所有资料都上传，提交后不可修改', function(){
                    axios.get('/api/resource/agreement/submit',{params:{
                            agreementId: id,
                        }
                    }).then(function (response) {
                        if(response.data.code === 0){
                            alert('操作成功', function(){
                                _this.list();
                            });
                        }else{
                            alert(response.data.msg);
                        }
                    }).catch(function (error) {
                            console.log(error);
                        }
                    );
                });


            },
            downLoadSureDoc:function(id){

            },
            saveOrupdateTradeMark:function(){

                var _this=this;
                var baseUrl='/api/resource/trademark';
                var url=baseUrl+'/save';
                var agreementId = _this.tradeMarkInfo.agreementId;
                var name = _this.tradeMarkInfo.name;
                var classifyCode = _this.tradeMarkInfo.classifyCode;
                var docCode = _this.tradeMarkInfo.docCode;
                if (!(agreementId&&name&&classifyCode&&docCode)) {
                    alert('请正确填写表单数据', function(){
                        _this.$validator.validate().then(result => {});
                        return ;
                    });
                }else {
                    axios.post(url, _this.tradeMarkInfo).then(function (response) {
                        if (response.data.code === 0) {
                            alert('操作成功', function () {
                                $("#addTradeMark").modal('hide');
                                _this.listTradeMark(_this.tradeMarkInfo.agreementId);

                            });
                        } else {
                            alert(response.data.msg);
                        }
                    }).catch(function (error) {
                            console.log(error);
                        }
                    );
                }

            },
            deleteTradeMark:function(id){
                var _this=this;
                axios.get('/api/resource/trademark/delete/'+id,null)
                    .then(function (response) {
                        if(response.data.code === 0){
                            alert('操作成功', function(){
                                _this.listTradeMark(_this.tradeMarkInfo.agreementId);
                            });
                        }else{
                            alert(response.data.msg);
                        }
                    }).catch(function (error) {
                        console.log(error);
                    }
                );
            },
            listTradeMark:function(agreementId){
                var _this=this;
                _this.tradeMarkData = [];
                axios.get('/api/resource/trademark/list', {
                    params: {
                        agreementId:agreementId,
                        page: _this.tradeMarkTableConfig.pageNumber,
                        limit: _this.tradeMarkTableConfig.pageSize
                    }
                }).then(function (response) {
                    if(response.data.code === 0){
                        _this.tradeMarkData = response.data.page.list;
                        _this.tradeMarkTableConfig.totalCount = response.data.page.totalCount;
                    }else{
                        alert(response.data.msg);
                    }
                }).catch(function (error) {
                    console.log(error);
                });
            },
            getTrademarkClassify:function(){
                var _this=this;
                axios.get('/api/common/trademark/classify',null)
                    .then(function (response) {
                        if(response.data.code === 0){
                            _this.tradeMarkClassifyData=response.data.data;
                        }else{
                            alert(response.data.msg);
                        }
                    }).catch(function (error) {
                        console.log(error);
                    }
                );
            },
            getSubmitEndDate:function(val){
                this.condition.createEndDate=val;
            },
            getSubmitStartDate:function(val){
                this.condition.createStartDate=val;
            },
            back: function () {
                history.go(-1);
                this.list();
            },

        },
        mounted () {
            this.list();
        },

        filters: {
            formatterDate: function (value) {
                return (value == null || value == undefined) ? "" : value.trim().substring(0, 10);
            }
        },

    });

</script>

</html>