<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE generatorConfiguration
        PUBLIC "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN"
        "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd">
<generatorConfiguration>
    <context id="mysqlgenerator" targetRuntime="MyBatis3">
        <commentGenerator>
            <property name="suppressAllComments" value="true"/> <!--是否取消注释-->
            <property name="suppressDate" value="true"/> <!--是否生成注释时间戳-->
        </commentGenerator>
        <jdbcConnection driverClass="com.mysql.jdbc.Driver"
                        connectionURL="jdbc:mysql://localhost:3306/zy_platform?characterEncoding=UTF-8"
                        userId="root"
                        password="123456" />
        <!--指定生成java类型-->
        <javaTypeResolver>
            <property name="forceBigDecimals" value="false"/>
        </javaTypeResolver>

        <javaModelGenerator targetPackage="io.renren.modules.resource.model" targetProject="src/main/java" />

        <sqlMapGenerator targetPackage="mapper.resource" targetProject="src/main/resources" />

        <javaClientGenerator type="XMLMAPPER" targetPackage="io.renren.modules.resource.dao" targetProject="src/main/java" />

        <table tableName="resource_agreement" domainObjectName="ResourceAgreement"
               enableCountByExample="false" enableUpdateByExample="false"
               enableSelectByExample="false" enableDeleteByExample="false"
               selectByExampleQueryId="false" >
            <property name="useActualColumnNames" value="false"/>
        </table>

    </context>

</generatorConfiguration>