<!DOCTYPE html>
<html>
<head>
    <title>商标管理</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="../../plugins/element/theme-default/index.css">
    <link rel="stylesheet" href="../../plugins/bootstrap-3.3.7/css/bootstrap.css">
    <link rel="stylesheet" href="../../css/main.css">
    <script src="../../libs/jquery-3.1.1.min.js"></script>
    <script src="../../plugins/layer/layer.js"></script>

    <script src="../../plugins/bootstrap-3.3.7/js/bootstrap.js"></script>
    <script src="../../libs/json2.js"></script>
    <script src="../../libs/vue.min.js"></script>
    <script src="../../libs/axios.min.js"></script>
    <script src="../../js/axiso.js"></script>
    <script src="../../plugins/laydate/laydate.js"></script>
    <script src="../../plugins/element/index.js"></script>
    <script src="https://cdn.bootcss.com/vee-validate/2.0.9/vee-validate.min.js"></script>
    <script src="https://cdn.bootcss.com/vee-validate/2.0.9/locale/zh_CN.js"></script>
</head>
<body>
<div id="rrapp">
    <div  class="form-group form-inline row">
        <div class="form-group">
            <select class="form-control">
                <option value="1">商标名称</option>
                <option value="2">申请号</option>
                <option value="3">申请日期</option>
                <option value="4">联系电话</option>
                <option value="5">联系人</option>
                <option value="6">顾问</option>
                <option value="7">申请方式</option>
            </select>
            <input type="text" class="form-control" v-model="condition.inputValue" @keyup.enter="query">
            <a class="btn btn-primary"><i class="glyphicon glyphicon-search"></i>查询</a>
        </div>
    </div>

    <table class="table table-bordered">
        <colgroup>
            <col width="15%">
            <col width="10%">
            <col width="10%">
            <col width="10%">
            <col width="10%">
            <col width="10%">
            <col width="10%">
            <col width="20%">
        </colgroup>
        <thead>
        <tr>
            <th>名字</th>
            <th>分类</th>
            <th>申请日期</th>
            <th>申请号</th>
            <th>状态</th>
            <th>顾问</th>
            <th>申请方式</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        <tr v-for="item in tableData">
            <td>{{item.name}}</td>
            <td>{{item.classifyDes}}</td>
            <td>{{item.applyDate|formatterDate}}</td>
            <td>{{item.applyNumber}}</td>
            <td>{{item.statusDes}}</td>
            <td>{{item.adviser}}</td>
            <td>{{item.applyTypeDes}}</td>
            <td><div class="btn-group" data-toggle="buttons-radio">
                <!--<button  class="btn btn-primary btn-padding-reset" data-toggle="modal"
                         @click="showUpdateTradeMark(item.id)">修改</button>-->
                <button  class="btn btn-primary btn-padding-reset"
                         @click="searchTradeMarkLog(item.id)">商标日志</button>
            </div>
            </td>
        </tr>
        </tbody>
    </table>
    <div class="page-wrap bottom_footer" >
        <el-pagination
                class="align-right"
                @size-change="handleSizeChange"
                @current-change="handleCurrentChange"
                :current-page="tableConfig.pageNumber"
                :page-sizes="[10, 20, 50]"
                :page-size='tableConfig.pageSize'
                layout="total, sizes, prev, pager, next, jumper"
                :total="tableConfig.totalCount">
        </el-pagination>
    </div>

    <!-- 模态框（Modal） -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title" id="myModalLabel">
                        修改商标
                    </h4>
                </div>
                <div class="modal-body">
                    <form  class="form-horizontal">
                        <input type="text"  v-model="tradeMarkLog.tradeMarkId" class="form-control hidden"  >
                        <div  class="form-group">
                            <div class="col-sm-2 control-label">操  作</div>
                            <div class="col-sm-10">
                                <select  v-model="tradeMarkLog.operationCode" v-validate="'required'" name="操作" class="form-control ">
                                    <option value="TMO_001">修改商标状态</option>
                                    <option value="TMO_002">修改商标信息</option>
                                </select>
                            </div>
                        </div>
                        <div  class="form-group">
                            <div class="col-sm-2 control-label">状  态</div>
                            <div class="col-sm-10">
                                <select  v-model="tradeMarkLog.statusCode" v-validate="'required'" name="状态" class="form-control ">
                                    <option value="00">选择状态</option>
                                    <option value="TMS_003">申请</option>
                                    <option value="TMS_004">下达受理</option>
                                    <option value="TMS_005">初审公告</option>
                                    <option value="TMS_006">驳回</option>
                                    <option value="TMS_007">异议</option>
                                    <option value="TMS_008">下证</option>
                                    <option value="TMS_009">其他</option>
                                </select>
                            </div>
                        </div>
                        <div v-show="tradeMarkLog.statusCode=='TMS_003'" class="form-group">
                            <div class="col-sm-2 control-label">申请号</div>
                            <div class="col-sm-10">
                                <input type="text"  v-model="tradeMarkLog.applyNumber" class="form-control">
                            </div>
                        </div>
                        <div v-show="tradeMarkLog.statusCode=='TMS_004' || tradeMarkLog.statusCode=='TMS_005' || tradeMarkLog.statusCode=='TMS_008'" class="form-group">
                            <div class="col-sm-2 control-label">图  片</div>
                            <div class="col-sm-10">
                                <input type="file"  class="projectfile" v-model="tradeMarkLog.img"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-2 control-label">备  注</div>
                            <div class="col-sm-10">
                                <textarea class="form-control" rows="3" v-model="tradeMarkLog.remark" ></textarea>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                    </button>
                    <button type="button" class="btn btn-primary" @click="saveTradeMarkLog">
                        提交
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!--查看日志-->
    <div class="modal fade" id="tradeMarkLog" tabindex="-1" role="dialog" aria-labelledby="tradeMarkLogLabel" aria-hidden="true">
        <div class="modal-dialog form-max-panel">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title" id="tradeMarkLogLabel">
                        商标修改日志
                    </h4>
                </div>
                <div class="modal-body ">
                    <table class="table table-bordered">
                        <colgroup>
                            <col width="20%">
                            <col width="10%">
                            <col width="10%">
                            <col width="10%">
                            <col width="20%">
                            <col width="30%">
                        </colgroup>
                        <thead>
                        <tr>
                            <th>时间</th>
                            <th>用户</th>
                            <th>文件</th>
                            <th>状态</th>
                            <th>操作</th>
                            <th>备注</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr v-for="log in tradeMarkLogData">
                            <td>{{log.createDate}}</td>
                            <td>{{log.createBy}}</td>
                            <td>{{log.img}}</td>
                            <td>{{log.statusDes}}</td>
                            <td>{{log.operationDes}}</td>
                            <td>{{log.remark}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>


</body>

<script>
    Vue.use(VeeValidate);
    VeeValidate.Validator.localize('zh_CN');
    new Vue({
        el:"#rrapp",
        data(){
            return {
                update_agreement_url:'/api/resource/agreement/update',
                listLoading:false,
                title:null,
                showList:true,
                showAgreement:false,
                showTradeMark:false,
                tableData: [],
                tradeMarkLogData: [],
                //表格参数
                tradeMarkTableConfig: {
                    //总数据
                    totalCount: 0,
                    //当前页
                    pageNumber: 1,
                    //每页条数
                    pageSize: 10,
                },
                //表格参数
                tableConfig: {
                    //总数据
                    totalCount: 0,
                    //当前页
                    pageNumber: 1,
                    //每页条数
                    pageSize: 10,
                },
                condition: {
                    queryType: 'AQT_001',
                    urgent: '00',
                    queryTypeValue: null,
                    createStartDate: null,
                    createEndDate: null,
                    inputValue:null
                },
                tradeMark:{
                    id:null,
                    agreementId:null,
                    name:null,
                    classifyCode:null,
                    classifyDes:null,
                    statusCode:null,
                    statusDes:null,
                    docCode:null,
                    docDes:null,
                    img:null,
                    governmentImg:null,
                    sureDocImg:null,
                    adviser:null,
                    applyTypeCode:null,
                    applyTypeDes:null,
                    protectProduct:null,
                    plyDate:null,
                    createBy:null,
                    createDate:null,
                    updateBy:null,
                    dateDate:null,
                    remarks:null,
                    deleteFlag:null
                },
                tradeMarkLog:{
                    id:null,
                    tradeMarkId:null,
                    statusCode:'00',
                    applyNumber:null,
                    img:null,
                    remark:null,
                    operationCode:null
                }


            }

        },
        methods: {
            handleCurrentChange(val) {
                this.tableConfig.pageNumber = val;
                this.list();
            },
            handleSizeChange(val) {
                this.tableConfig.pageNumber = 1;
                this.tableConfig.pageSize = val;
                this.list();
            },
            list: function() {
                var _this=this;
                _this.tableData = [];
                axios.get('/api/resource/trademark/list', {
                    params: {
                        page: _this.tableConfig.pageNumber,
                        limit: _this.tableConfig.pageSize
                    }
                }).then(function (response) {
                    console.log(response);
                    if(response.data.code === 0){
                        _this.tableData = response.data.page.list;
                        _this.tableConfig.totalCount = response.data.page.totalCount;
                    }else{
                        alert(response.data.msg);
                    }
                }).catch(function (error) {
                    console.log(error);
                });
            },
            showUpdateTradeMark: function(id){
                $("#myModal").modal('show');
                var _this=this;
                _this.tradeMarkLog.tradeMarkId=id;
                _this.tradeMarkLog.statusCode='00',
                _this.tradeMarkLog.applyNumber=null,
                _this.tradeMarkLog.img=null,
                _this.tradeMarkLog.remark=null,
                _this.tradeMarkLog.operationCode=null
            },
            saveTradeMarkLog:function(){
                var _this=this;
                _this.$validator.validate().then(result => {
                    if (!result) {
                        alert('请正确填写表单数据', function(){
                            return ;
                        });
                    }
                });
                axios.post('/api/tradeMark/log/save',_this.tradeMarkLog)
                    .then(function (response) {
                        if(response.data.code === 0){
                            alert('操作成功', function(){
                                $("#myModal").modal('hide');
                                _this.list();
                            });
                        }else{
                            alert(response.data.msg);
                        }
                    }).catch(function (error) {
                        console.log(error);
                    }
                );
            },
            searchTradeMarkLog:function(tradeMarkId){
                var _this=this;
                _this.tradeMarkLogData = [];
                $("#tradeMarkLog").modal('show');
                axios.get('/api/tradeMark/log/list/'+tradeMarkId, {
                    params: {}
                }).then(function (response) {
                    console.log(response);
                    if(response.data.code === 0){
                        _this.tradeMarkLogData = response.data.data;
                    }else{
                        alert(response.data.msg);
                    }
                }).catch(function (error) {
                    console.log(error);
                });

            }


        },
        mounted () {
            this.list();
        },

        filters: {
            formatterDate: function (value) {
                return (value == null || value == undefined) ? "" : value.trim().substring(0, 10);
            }
        },

    });

</script>
</html>