<!DOCTYPE html>
<html>
<head>
	<title>打款查询</title>
	<meta charset="UTF-8">
	<meta http-equiv="Expires" content="0">
	<meta http-equiv="Pragma" content="no-cache">
	<meta http-equiv="Cache-control" content="no-cache">
	<meta http-equiv="Cache" content="no-cache">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

	<link rel="stylesheet" href="../../plugins/element/theme-default/index.css">
	<link rel="stylesheet" href="../../plugins/bootstrap-3.3.7/css/bootstrap.css">
	<link rel="stylesheet" href="../../css/main.css">
	<script src="../../libs/jquery-3.1.1.min.js"></script>
	<script src="../../plugins/layer/layer.js"></script>

	<script src="../../plugins/bootstrap-3.3.7/js/bootstrap.js"></script>
	<script src="../../libs/json2.js"></script>
	<script src="../../libs/vue.min.js"></script>
	<script src="../../libs/axios.min.js"></script>
	<script src="../../js/axiso.js"></script>
	<script src="../../plugins/laydate/laydate.js"></script>
	<script src="../../plugins/element/index.js"></script>
	<script src="https://cdn.bootcss.com/vee-validate/2.0.9/vee-validate.min.js"></script>
	<script src="https://cdn.bootcss.com/vee-validate/2.0.9/locale/zh_CN.js"></script>
</head>
<body>
<div id="rrapp">
	<form role="form" class="contain">
		<div  class="form-group form-inline row">
			<a  class="btn btn-primary " @click="showAddFinance"><i class="glyphicon glyphicon-plus"></i>添加打款记录</a>
			<a  class="btn btn-primary " @click="showAddPay"><i class="glyphicon glyphicon-plus"></i>官费&代理费</a>
			<select  v-model="condition.queryTypeCode" class="form-control">
				<option value="">查询条件</option>
				<option value="QU_001">顾问</option>
				<option value="QU_002">合同号</option>
			</select>
			<input type="text"  v-model="condition.queryTypeValue" class="form-control">
			<span class="form-inline">
                    <span class="demonstration">提交时间</span>
                    <el-date-picker
		                    v-model="condition.submitStartDate"
		                    type="date"
		                    placeholder="选择日期"
		                    @change="getSubmitStartDate"
		                    value-format="yyyy-MM-dd">
                    </el-date-picker>
                </span>
			<span class="form-inline">
                    <span class="demonstration">到</span>
                    <el-date-picker
		                    v-model="condition.submitEndDate"
		                    type="date"
		                    placeholder="选择日期"
		                    @change="getSubmitEndDate"
		                    value-format="yyyy-MM-dd">
                    </el-date-picker>
                </span>
			<a  class="btn btn-primary" @click="list()"><i class="glyphicon glyphicon-search"></i>&nbsp;查询</a>
		</div>
	</form>
	<div>
		<div style="margin-bottom: 50px;">
			<table class="table table-bordered">
				<colgroup>
					<col width="12%">
					<col width="7%">
					<col width="8%">
					<col width="8%">
					<col width="7%">
					<col width="8%">
					<col width="8%">
					<col width="8%">
					<col width="8%">
					<col width="7%">
					<col width="7%">
					<col width="12%">
				</colgroup>
				<thead>
				<tr>
					<th>合同编号</th>
					<th>顾问</th>
					<th>状态</th>
					<th>客户名称</th>
					<th>汇款金额</th>
					<th>汇款时间</th>
					<th>汇款账号</th>
					<th>收款账号</th>
					<th>官费</th>
					<th>代理费</th>
					<th>备注</th>
					<th>操作</th>
				</tr>
				</thead>
				<tbody>
				<tr v-for="item in tableData">
					<td>{{item.agreementId}}</td>
					<td>{{item.adviser}}</td>
					<td>{{item.statusDes}}</td>
					<td>{{item.firstParty}}</td>
					<td>{{item.money}}</td>
					<td>{{item.remitDate|formatterDate}}</td>
					<td>{{item.remitAccount}}</td>
					<td>{{item.gatheringAccount}}</td>
					<td>{{item.governmentCost}}</td>
					<td>{{item.proxyCost}}</td>
					<td>{{item.remarksDetail}}</td>
					<td><div class="btn-group" data-toggle="buttons-radio">
						<button  class="btn btn-primary btn-padding-reset" :disabled="item.statusCode!='AS_001'"
						         @click="showUpdateAccount(item.id,item.adviser,item.firstParty,item.remarksDetail,item.agreementId,item.remitCode,item.remitDate,item.remitAccount,item.gatheringAccount,item.remark)">修改</button>
						<button  class="btn btn-primary btn-padding-reset" :disabled="item.statusCode!='AS_001'"
						         @click="deleteFinance(item.id)">删除</button>
						<button  class="btn btn-primary btn-padding-reset" :disabled="item.statusCode=='AS_003'"
						         @click="updateFinanceFile(item.id)">归档</button>
					</div>
					</td>
				</tr>
				</tbody>
			</table>
			<div class="page-wrap bottom_footer" >
				<el-pagination
						class="align-right"
						@size-change="handleSizeChange"
						@current-change="handleCurrentChange"
						:current-page="tableConfig.pageNumber"
						:page-sizes="[10, 20, 50]"
						:page-size='tableConfig.pageSize'
						layout="total, sizes, prev, pager, next, jumper"
						:total="tableConfig.totalCount">
				</el-pagination>
			</div>
		</div>
	</div>


	<!-- 添加打款记录 -->
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
						&times;
					</button>
					<h4 class="modal-title" id="myModalLabel">
						添加打款信息
					</h4>
				</div>
				<div class="modal-body">
					<form  class="form-horizontal">
						<div  class="form-group">
							<div class="col-sm-2 control-label">合同编号</div>
							<div class="col-sm-10">
								<input type="text"  v-model="finance.agreementId" v-validate="'required'" name="合同编号" class="form-control">
								<div v-show="errors.has('合同编号')" class="alert alert-danger">{{ errors.first('合同编号') }}</div>
							</div>
						</div>
						<div  class="form-group">
							<div class="col-sm-2 control-label">顾问</div>
							<div class="col-sm-10">
								<input type="text"  v-model="finance.adviser" v-validate="'required'" name="合同顾问" class="form-control">
								<div v-show="errors.has('合同顾问')" class="alert alert-danger">{{ errors.first('合同顾问') }}</div>
							</div>
						</div>
						<div  class="form-group">
							<div class="col-sm-2 control-label">客户名称</div>
							<div class="col-sm-10">
								<input type="text"  v-model="finance.firstParty" v-validate="'required'" name="客户名称" class="form-control">
								<div v-show="errors.has('客户名称')" class="alert alert-danger">{{ errors.first('客户名称') }}</div>
							</div>
						</div>
					
						<div  class="form-group">
							<div class="col-sm-2 control-label">备注名称</div>
							<div class="col-sm-10">
								<input type="text"  v-model="finance.remarksDetail" class="form-control">
							</div>
						</div>
						<div  class="form-group">
							<div class="col-sm-2 control-label">汇款金额</div>
							<div class="col-sm-10">
								<input type="text"  v-model="finance.money" class="form-control" v-validate="'required'" name="汇款金额" placeholder="单位（元）">
								<div v-show="errors.has('汇款金额')" class="alert alert-danger">{{ errors.first('汇款金额') }}</div>
							</div>
						</div>
						<div  class="form-group">
							<div class="col-sm-2 control-label">汇款类型</div>
							<div class="col-sm-10">
								<select  v-model="finance.remitCode" v-validate="'required'" name="汇款类型" class="form-control ">
									<option value="TMO_001">全款</option>
									<option value="TMO_002">定金</option>
									<option value="TMO_002">尾款</option>
								</select>
								<div v-show="errors.has('汇款类型')" class="alert alert-danger">{{ errors.first('汇款类型') }}</div>
							</div>
						</div>
						<div  class="form-group">
							<div class="col-sm-2 control-label">汇款时间</div>
							<div class="col-sm-10">
								<el-date-picker
										v-model="finance.Date"
										type="date"
										placeholder="选择日期"
										@change="getTime"
										value-format="yyyy-MM-dd">
								</el-date-picker>
							</div>
						</div>
						<div  class="form-group">
							<div class="col-sm-2 control-label">汇款账户</div>
							<div class="col-sm-10">
								<input type="text"  v-model="finance.remitAccount" v-validate="'required'" name="汇款账户" class="form-control">
								<div v-show="errors.has('汇款账户')" class="alert alert-danger">{{ errors.first('汇款账户') }}</div>
							</div>
						</div>

						<div  class="form-group">
							<div class="col-sm-2 control-label">收款账户</div>
							<div class="col-sm-10">
								<select  v-model="finance.gatheringAccount" v-validate="'required'" name="收款账户" class="form-control ">
									<option value="GA_001">工行公户</option>
									<option value="GA_002">工行私户</option>
									<option value="GA_003">建行公户</option>
									<option value="GA_004">建行私户</option>
									<option value="GA_005">农行</option>
									<option value="GA_006">支付宝</option>
									<option value="GA_007">现金</option>
									<option value="GA_008">刷卡</option>
									<option value="GA_009">微信</option>
								</select>
								<div v-show="errors.has('收款账户')" class="alert alert-danger">{{ errors.first('收款账户') }}</div>
							</div>
						</div>

						<div class="form-group">
							<div class="col-sm-2 control-label">备  注</div>
							<div class="col-sm-10">
								<textarea class="form-control" rows="3" v-model="finance.remark" ></textarea>
							</div>
						</div>
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">关闭
					</button>
					<button type="button" class="btn btn-primary" @click="saveOrUpdateFinance()">
						提交
					</button>
				</div>
			</div>
		</div>
	</div>
	
	<!-- 添加showAddPay记录 -->
	<div class="modal fade" id="showAddPay" tabindex="-1" role="dialog" aria-labelledby="showAddPayLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
						&times;
					</button>
					<h4 class="modal-title" id="showAddPayLabel">
						添加官费&代理费信息
					</h4>
				</div>
				<div class="modal-body">
					<form  class="form-horizontal">
						<div  class="form-group">
							<div class="col-sm-2 control-label">合同编号</div>
							<div class="col-sm-10">
								<input type="text"  v-model="agreement.agreementId" v-validate="'required'" name="编号" class="form-control">
								<div v-show="errors.has('编号')" class="alert alert-danger">{{ errors.first('编号') }}</div>
							</div>
						</div>
						<div  class="form-group">
							<div class="col-sm-2 control-label">顾问</div>
							<div class="col-sm-10">
								<input type="text"  v-model="agreement.adviser" v-validate="'required'" name="顾问" class="form-control">
								<div v-show="errors.has('顾问')" class="alert alert-danger">{{ errors.first('顾问') }}</div>
							</div>
						</div>
						<div  class="form-group">
							<div class="col-sm-2 control-label">官费金额</div>
							<div class="col-sm-10">
								<input type="text"  v-model="agreement.governmentCost" class="form-control" v-validate="'required'" name="官费金额" placeholder="单位（元）">
								<div v-show="errors.has('官费金额')" class="alert alert-danger">{{ errors.first('官费金额') }}</div>
							</div>
						</div>
						<div  class="form-group">
							<div class="col-sm-2 control-label">代理费金额</div>
							<div class="col-sm-10">
								<input type="text"  v-model="agreement.proxyCost" v-validate="'required'" name="代理费金额" class="form-control" placeholder="单位（元）">
								<div v-show="errors.has('代理费金额')" class="alert alert-danger">{{ errors.first('代理费金额') }}</div>
							</div>
						</div>
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">关闭
					</button>
					<button type="button" class="btn btn-primary" @click="updateAgreement()">
						提交
					</button>
				</div>
			</div>
		</div>
	</div>

</div>
</body>

<script>
    Vue.use(VeeValidate);
    VeeValidate.Validator.localize('zh_CN');
    new Vue({
        el:"#rrapp",
        data(){
            return {
                condition:{
                    queryTypeCode:'',
                    queryTypeValue:'',
                    submitStartDate:null,
                    submitEndDate:null,
                },
                tableData: [],
                //表格参数
                tableConfig: {
                    //总数据
                    totalCount:0,
                    //当前页
                    pageNumber:1,
                    //每页条数
                    pageSize:10,
                },
                finance:{
                    id:null,
                    adviser:null,
                    firstParty:null,
                    remarksDetail:null,
                    agreementId:null,
                    money:null,
                    remitCode:null,
                    statusCode:null,
                    remitDate:null,
                    remitAccount:null,
                    gatheringAccount:null,
                    remark:null
                },
	            agreement:{
                    agreementId:null,
                    adviser:null,
                    proxyCost:null,
                    governmentCost:null
	            }
            }

        },
        methods: {

            handleCurrentChange(val) {
                this.tableConfig.pageNumber = val;
                this.list();
            },
            handleSizeChange(val) {
                this.tableConfig.pageNumber = 1;
                this.tableConfig.pageSize = val;
                this.list();
            },
            list: function() {
                var _this=this;
                _this.tableData = [];
                axios.get('api/finance/list', {
                    params: {
                        queryTypeCode:_this.condition.queryTypeCode,
                        queryTypeValue:_this.condition.queryTypeValue,
                        submitStartDate:_this.condition.submitStartDate,
                        submitEndDate:_this.condition.submitEndDate,
                        page: _this.tableConfig.pageNumber,
                        limit: _this.tableConfig.pageSize
                    }
                }).then(function (response) {
                    if(response.data.code === 0){
                        _this.tableData = response.data.page.list;
                        _this.tableConfig.totalCount = response.data.page.totalCount;
                    }else{
                        alert(response.data.msg);
                    }
                }).catch(function (error) {
                    console.log(error);
                });
            },
            showAddPay: function(){
                var _this=this;
                _this.agreement.agreementId=null;
                _this.agreement.adviser=null;
                _this.agreement.proxyCost=null;
                _this.agreement.governmentCost=null;
                $("#showAddPay").modal('show');
            },
            showAddFinance: function(){
                $("#myModal").modal('show');
                var _this=this;
                _this.finance.id=null;
                _this.finance.adviser=null;
                _this.finance.firstParty=null;
                _this.finance.remarksDetail=null;
                _this.finance.statusCode=null;
                _this.finance.agreementId=null;
                _this.finance.remitCode=null;
                _this.finance.remitDate=null;
                _this.finance.remitAccount=null;
                _this.finance.gatheringAccount=null;
                _this.finance.remark=null;

            },
            updateAgreement:function(){
                var _this=this;
                var agreementId = _this.agreement.agreementId;
                var adviser = _this.agreement.adviser;
                var proxyCost = _this.agreement.proxyCost;
                var governmentCost = _this.agreement.governmentCost;
                if (!(agreementId && adviser && proxyCost && governmentCost)) {
                    alert('请正确填写表单数据', function(){
                        _this.$validator.validate().then(result => {});
                        return ;
                    });
                }else{
                    axios.post('/api/resource/agreement/update', _this.agreement)
                        .then(function (response) {
                            if (response.data.code === 0) {
                                alert('操作成功', function () {
                                    $("#showAddPay").modal('hide');
                                    _this.list();
                                });
                            } else {
                                alert(response.data.msg);
                            }
                        }).catch(function (error) {
                            console.log(error);
                        }
                    );
                }
                
            },
	        deleteFinance:function(id){
                var _this=this;
                axios.get('/api/finance/delete/'+id,{}).then(function (response) {
                    if(response.data.code === 0){
                        alert('操作成功', function(){
                            $("#myModal").modal('hide');
                            _this.list();
                        });
                    }else{
                        alert(response.data.msg)
                    }
                }).catch(function (error) {
                    console.log(error);
                });
	        },
	        submitFinance:function(id){
                var _this=this;
                axios.get('/api/finance/submit/'+id,{}).then(function (response) {
                    if(response.data.code === 0){
                        alert('操作成功', function(){
                            $("#myModal").modal('hide');
                            _this.list();
                        });
                    }else{
                        alert(response.data.msg)
                    }
                }).catch(function (error) {
                    console.log(error);
                });
	        },
            saveOrUpdateFinance: function(){
                var _this=this;
                _this.finance.remitDate=$("#revisitDate").val();
                var id = _this.finance.id;
                var url ='';
                if(id==null || id=='' ){
                    url='api/finance/save';
                }else{
                    url='api/finance/update';
                }
                axios.post(url,_this.finance).then(function (response) {
                    if(response.data.code === 0){
                        alert('操作成功', function(){
                            $("#myModal").modal('hide');
                            _this.list();
                        });
                    }else{
                        alert(response.data.msg)
                    }
                }).catch(function (error) {
                    console.log(error);
                });
            },
            showUpdateAccount:function(id,adviser,firstParty,remarksDetail,agreementId,remitCode,remitDate,remitAccount,gatheringAccount,remark){
                $("#myModal").modal('show');
                var _this=this;
                _this.finance.id=id;
                _this.finance.adviser=adviser;
                _this.finance.statusCode='AS_001';
                _this.finance.firstParty=firstParty;
                _this.finance.remarksDetail=remarksDetail;
                _this.finance.agreementId=agreementId;
                _this.finance.remitCode=remitCode;
                _this.finance.remitDate=remitDate;
                _this.finance.remitAccount=remitAccount;
                _this.finance.gatheringAccount=gatheringAccount;
                _this.finance.remark=remark;
            },
            updateFinanceFile:function(id){
                console.log(id);
                var _this =this;
                _this.finance.id=id;
                _this.finance.statusCode='AS_003';
                alert('归档后打款信息不可修改', function(){
                    axios.post('api/finance/update',_this.finance).then(function (response) {
                        if(response.data.code === 0){
                            alert('操作成功', function(){
                                _this.list();
                            });
                        }else{
                            alert(response.data.msg)
                        }
                    }).catch(function (error) {
                        console.log(error);
                    });



                });
            },
            getSubmitStartDate:function(val){
                this.condition.submitStartDate=val;
            },
            getSubmitEndDate:function(val){
                this.condition.submitEndDate=val;
            },
            getTime(date){
                this.finance.remitDate = date;
            }

        },
        mounted () {
            this.list();
        },

        filters: {
            formatterDate: function (value) {
                return (value == null || value == undefined) ? "" : value.trim().substring(0, 10);
            }
        },

    });

</script>

</html>