<!DOCTYPE html>
<html>
<head>
    <title>我的合同</title>
    <meta charset="UTF-8">
    <meta http-equiv="Expires" content="0">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Cache-control" content="no-cache">
    <meta http-equiv="Cache" content="no-cache">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

    <link rel="stylesheet" href="../../plugins/element/theme-default/index.css">
    <link rel="stylesheet" href="../../plugins/bootstrap-3.3.7/css/bootstrap.css">
    <link rel="stylesheet" href="../../css/main.css">
    <script src="../../libs/jquery-3.1.1.min.js"></script>
    <script src="../../plugins/layer/layer.js"></script>

    <script src="../../plugins/bootstrap-3.3.7/js/bootstrap.js"></script>
    <script src="../../libs/json2.js"></script>
    <script src="../../libs/vue.min.js"></script>
    <script src="../../libs/axios.min.js"></script>
    <script src="../../js/axiso.js"></script>
    <script src="../../plugins/laydate/laydate.js"></script>
    <script src="../../plugins/element/index.js"></script>
    <script src="https://cdn.bootcss.com/vee-validate/2.0.9/vee-validate.min.js"></script>
    <script src="https://cdn.bootcss.com/vee-validate/2.0.9/locale/zh_CN.js"></script>
</head>
<body>
    <div id="rrapp">
        <div  v-show="showList" >
            <form role="form" class="contain">
                <div  class="form-group form-inline row">
                    <select  v-model="condition.urgent" class="form-control">
                        <option value="00">状态</option>
                        <option value="QU_001">提交</option>
                        <option value="QU_002">通过</option>
                    </select>
                    <select id="intention" v-model="condition.queryTypeCode"  class="form-control">
                        <option value="IN_001">合同号</option>
                        <option value="IN_002">联系人</option>
                        <option value="IN_003">顾问</option>
                        <option value="IN_004">名称</option>
                    </select>
                    <input type="text"  v-model="condition.queryTypeValue" class="form-control">
                    <span class="form-inline">
                    <span class="demonstration">提交时间</span>
                    <el-date-picker
                            v-model="condition.createStartDate"
                            type="date"
                            placeholder="选择日期"
                            @change="getSubmitStartDate"
                            value-format="yyyy-MM-dd">
                    </el-date-picker>
                </span>
                    <span class="form-inline">
                    <span class="demonstration">到</span>
                    <el-date-picker
                            v-model="condition.createEndDate"
                            type="date"
                            placeholder="选择日期"
                            @change="getSubmitEndDate"
                            value-format="yyyy-MM-dd">
                    </el-date-picker>
                </span>
                    <div class="form-group">
                        <a  class="btn btn-primary" ><i class="glyphicon glyphicon-search"></i>&nbsp;查询</a>
                    </div>
                </div>
            </form>
            <div style="margin-bottom: 50px;">
                <table class="table table-bordered" v-loading="listLoading">
                    <colgroup>
                        <col width="12%">
                        <col width="8%">
                        <col width="21%">
                        <col width="6%">
                        <col width="6%">
                        <col width="6%">
                       <!-- <col width="6%">-->
                        <col width="8%">
                        <col width="8%">
                        <col width="10%">
                        <col width="15%">
                    </colgroup>
                    <thead>
                        <tr>
                            <th>合同编号</th>
                            <th>类型</th>
                            <th>名称</th>
                            <th>总费用</th>
                            <th>定金</th>
                            <th>尾款</th>
                            <!--<th>支出</th>-->
                            <th>状态</th>
                            <th>顾问</th>
                            <th>创建时间</th>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="item in tableData">
                            <td>{{item.agreementId}}</td>
                            <td>{{item.typeDes}}</td>
                            <td>
                                <span v-for="(nameMap,index) in item.tradeMarkNameArray">
                                      {{nameMap.name}}
                                     <hr v-if="index<item.tradeMarkNameArray.length-1">
                                </span>
                            </td>
                            <td>{{item.allcost}}</td>
                            <td>{{item.earnest}}</td>
                            <td>{{item.finalPayment}}</td>
                           <!-- <td>{{item.pay}}</td>-->
                            <td>{{item.statusDes}}</td>
                            <td>{{item.adviser}}</td>
                            <td>{{item.createDate|formatterDate}}</td>
                            <td><div class="btn-group" data-toggle="buttons-radio">
                                <button  class="btn btn-primary btn-padding-reset"
                                         @click="downLoadAgreement(item.finalFileName)">下载</button>
                                <button  class="btn btn-primary btn-padding-reset"
                                         @click="showAgreementInfo(item.agreementId)">查看</button>
                                <button  class="btn btn-primary btn-padding-reset"
                                         @click="updateAgreement(item.agreementId,'AGS_004')">通过</button>
                                <button  class="btn btn-primary btn-padding-reset"
                                         @click="updateAgreement(item.agreementId,'AGS_003')">驳回</button>
                            </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="page-wrap bottom_footer" >
                    <el-pagination
                            class="align-right"
                            @size-change="handleSizeChange"
                            @current-change="handleCurrentChange"
                            :current-page="tableConfig.pageNumber"
                            :page-sizes="[10, 20, 50]"
                            :page-size='tableConfig.pageSize'
                            layout="total, sizes, prev, pager, next, jumper"
                            :total="tableConfig.totalCount">
                    </el-pagination>
                </div>
            </div>
        </div>

        <div class="modal fade" id="updateAgreement" tabindex="-1" role="dialog" aria-labelledby="updateAgreementLabel" aria-hidden="true" style="overflow: auto">
            <div class="modal-dialog  form-max-panel">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                            &times;
                        </button>
                        <h4 class="modal-title" id="updateAgreementLabel">
                            修改合同
                        </h4>
                    </div>
                    <div class="modal-body">
                        <ul id="myTab" class="nav nav-tabs">
                            <li class="active"><a href="#agreement" data-toggle="tab">合同</a> </li>
                            <li><a href="#tradeMarkInfo" data-toggle="tab">商标信息</a></li>
                            <li><a href="#firstParty" data-toggle="tab">甲方</a></li>
                        </ul>
                        <div id="myTabContent" class="tab-content">
                            <div class="tab-pane fade in active" id="agreement">
                                <form class="form-horizontal">
                                    <input type="text"  v-model="agreement.resourceId" class="hidden"/>
                                    <div class="form-group">
                                        <div class="col-sm-2 control-label">合同编号 </div>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" v-model="agreement.agreementId"   readonly/>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-2 control-label">总费用</div>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" v-model="agreement.allcost" readonly v-validate="'required|numeric'" name="总费用" placeholder="总费用(单位元)"/>
                                            <div v-show="errors.has('总费用')" class="alert alert-danger">{{ errors.first('总费用') }}</div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-2 control-label">定金</div>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" v-model="agreement.earnest" readonly v-validate="'required|numeric'" name="定金" placeholder="定金(单位元)"/>
                                            <div v-show="errors.has('定金')" class="alert alert-danger">{{ errors.first('定金') }}</div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-2 control-label">尾款</div>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" v-model="agreement.finalPayment" readonly v-validate="'required|numeric'" name="尾款" placeholder="尾款(单位元)"/>
                                            <div v-show="errors.has('尾款')" class="alert alert-danger">{{ errors.first('尾款') }}</div>
                                        </div>
                                    </div>
                                    <!--<div class="form-group">
                                        <div class="col-sm-2 control-label">支出</div>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" v-model="agreement.pay" readonly v-validate="'required|numeric'" name="支出" placeholder="支出(单位元)"/>
                                            <div v-show="errors.has('支出')" class="alert alert-danger">{{ errors.first('支出') }}</div>
                                        </div>
                                    </div>-->
                                </form>
                            </div>

                            <!--  商标信息-->
                            <div class="tab-pane fade" id="tradeMarkInfo">
                                <table class="table table-bordered">
                                    <colgroup>
                                        <col width="20%">
                                        <col width="20%">
                                        <col width="20%">
                                        <col width="20%">
                                        <col width="20%">
                                    </colgroup>
                                    <thead>
                                    <tr>
                                        <th hidden>合同ID</th>
                                        <th hidden>商标ID</th>
                                        <th hidden>商标分类编码</th>
                                        <th>商标名</th>
                                        <th>分类</th>
                                        <th>图片</th>
                                        <th>商标局图片</th>
                                        <th>确认书</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                        <tr v-for="item in tradeMarkData">
                                            <td hidden>{{item.agreementId}}</td>
                                            <td hidden>{{item.id}}</td>
                                            <td hidden>{{item.classifyCode}}</td>
                                            <td>{{item.name}}</td>
                                            <td>{{item.classifyDes}}</td>
                                            <td>
                                                <a v-show="item.img!=null" href="#" class="thumbnail">
                                                    <img :src="'http://localhost:8080/api/file/readImage?imgName='+item.img" @click="showImg(item.img)">
                                                </a>
                                            </td>
                                            <td>
                                                <a v-show="item.governmentImg!=null" href="#" class="thumbnail">
                                                    <img :src="'http://localhost:8080/api/file/readImage?imgName='+item.governmentImg" @click="showImg(item.governmentImg)">
                                                </a>
                                            </td>
                                            <td>
                                                <a v-show="item.sureDocImg!=null" href="#" class="thumbnail">
                                                <img :src="'http://localhost:8080/api/file/readImage?imgName='+item.sureDocImg" @click="showImg(item.sureDocImg)">
                                                </a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                            <!--甲方-->
                            <div class="tab-pane fade" id="firstParty">
                                <form class="form-horizontal">
                                    <div class="form-group">
                                        <div class="col-sm-2  control-label">联系人 </div>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" readonly v-validate="'required'" name="联系人" v-model="agreement.linkMan" />
                                            <div v-show="errors.has('联系人')" class="alert alert-danger">{{ errors.first('联系人') }}</div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="control-label col-sm-2">甲方</div>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control " readonly v-validate="'required'" name="甲方" v-model="agreement.firstParty" />
                                            <div v-show="errors.has('甲方')" class="alert alert-danger">{{ errors.first('甲方') }}</div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="control-label col-sm-2">邮箱</div>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" readonly v-validate="'required|email'" name="邮箱" v-model="agreement.email"/>
                                            <div v-show="errors.has('邮箱')" class="alert alert-danger">{{ errors.first('邮箱') }}</div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="control-label col-sm-2">电话</div>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control " readonly v-validate="'required'" name="电话" v-model="agreement.phoneNumber" />
                                            <div v-show="errors.has('电话')" class="alert alert-danger">{{ errors.first('电话') }}</div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="control-label col-sm-2">地址</div>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control " readonly v-validate="'required'" name="地址" v-model="agreement.address" />
                                            <div v-show="errors.has('地址')" class="alert alert-danger">{{ errors.first('地址') }}</div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="row">
                                            <div class="control-label col-sm-2">身份证</div>
                                            <div class="col-sm-10">
                                                <el-button size="small"  type="success" :disabled="agreement.icdFaceImgName==null" @click="showImg(agreement.icdFaceImgName)">查看正面</el-button>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-2"></div>
                                            <div class="col-sm-10">
                                                <el-button size="small"  type="success" :disabled="agreement.icdReverseImgName==null" @click="showImg(agreement.icdReverseImgName)">查看反面</el-button>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="control-label col-sm-2">执照</div>
                                        <div class="col-sm-10">
                                            <el-button size="small" type="success" :disabled="agreement.licenseImgName==null" @click="showImg(agreement.licenseImgName)">查看执照</el-button>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="control-label col-sm-2">确认书</div>
                                        <div class="col-sm-10">
                                            <el-button size="small" type="success" :disabled="agreement.sureDocImgName==null" @click="showImg(agreement.sureDocImgName)">查看确认书</el-button>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="control-label col-sm-2">委托书</div>
                                        <div class="col-sm-10">
                                            <el-button size="small" type="success" :disabled="agreement.proxyImgName==null" @click="showImg(agreement.proxyImgName)">查看委托书</el-button>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="control-label col-sm-2">合同</div>
                                        <div class="col-sm-10">
                                            <el-button size="small" type="success" :disabled="agreement.finalFileName==null" @click="showImg(agreement.finalFileName)">查看合同</el-button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--查看图片 start-->
        <div class="modal fade"  id="preImg" tabindex="2" role="dialog" aria-labelledby="showImg" aria-hidden="true" style="overflow: auto">
            <div class="modal-dialog form-max-panel">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                            &times;
                        </button>
                        <h4 class="modal-title" id="showImg">
                            查看图片
                        </h4>
                    </div>
                    <div class="modal-body">
                        <div>
                            <img src=""  style="width:800px;overflow:auto; " id="readImage"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--查看图片 end-->
    </div>
</body>

<script>
    Vue.use(VeeValidate);
    VeeValidate.Validator.localize('zh_CN');
    new Vue({
        el:"#rrapp",
        data(){
            return {
                fileList: [],
                update_agreement_url:'/api/resource/agreement/update',
                img_url:'http://localhost:8080/api/file/readImage?imgName=',
                listLoading:false,
                title:null,
                showList:true,
                showAgreement:false,
                showTradeMark:false,
                tableData: [],
                tradeMarkData:[],
                tradeMarkClassifyData:[],
                //表格参数
                tradeMarkTableConfig: {
                    //总数据
                    totalCount: 0,
                    //当前页
                    pageNumber: 1,
                    //每页条数
                    pageSize: 10,
                },
                //表格参数
                tableConfig: {
                    //总数据
                    totalCount: 0,
                    //当前页
                    pageNumber: 1,
                    //每页条数
                    pageSize: 10,
                },
                condition: {
                    queryType: 'AQT_001',
                    urgent: '00',
                    queryTypeValue: null,
                    createStartDate: null,
                    createEndDate: null
                },
                agreement: {
                    agreementId: null,
                    allcost: null,
                    earnest: null,
                    finalPayment: null,
                    pay: null
                },
                tradeMarkAgreement: {
                    agreementId: null,
                    serviceTypeCode: null,
                    registerCost: null,
                    designCost: null,
                    queryCost: null,
                    nameCost: null,
                    hostCost: null,
                    queryCost: null,
                    specifyColor: null,
                    applyTypeCode: null
                },
                tradeMarkInfo:{
                    id:null,
                    agreementId: null,
                    name:null,
                    remarks:null,
                    img:null,
                    governmentImg:null,
                    sureDocImg:null,
                    classifyCode:null,
                    classifyDes:null,
                    docCode:null,
                    docDes:null,
                    protectProduct:null
                }
            }

        },
        methods: {
            handleCurrentChange(val) {
                this.tableConfig.pageNumber = val;
                this.list();
            },
            handleSizeChange(val) {
                this.tableConfig.pageNumber = 1;
                this.tableConfig.pageSize = val;
                this.list();
            },
            list: function() {
                var _this=this;
                _this.tableData = [];
                axios.get('api/resource/agreement/list', {
                    params: {
                        statusCode:'AGS_002,AGS_004',
                        page: _this.tableConfig.pageNumber,
                        limit: _this.tableConfig.pageSize
                    }
                }).then(function (response) {
                    if(response.data.code === 0){
                        _this.tableData = response.data.page.list;
                        _this.tableConfig.totalCount = response.data.page.totalCount;
                    }else{
                        alert(response.data.msg);
                    }
                }).catch(function (error) {
                    console.log(error);
                });
            },
            showImg:function(fileName){
                var _this=this;
                $("#preImg").modal('show');
                $("#readImage").attr('src',_this.img_url+fileName);

            },
            showAgreementInfo:function (id) {
                var _this=this;
                _this.getAgreementById(id);
                _this.tradeMarkInfo.agreementId=id;
                _this.listTradeMark(id);
                $("#updateAgreement").modal('show');
            },
            getAgreementById:function(id){
                var _this=this;
                axios.get('/api/resource/agreement/get/'+id)
                    .then(function (response) {
                        if(response.data.code === 0){
                            _this.agreement=response.data.data;
                        }
                    }).catch(function (error) {
                        console.log(error);
                    }
                );

            },
            listTradeMark:function(agreementId){
                var _this=this;
                _this.tradeMarkData = [];
                axios.get('/api/resource/trademark/list', {
                    params: {
                        agreementId:agreementId,
                        page: _this.tradeMarkTableConfig.pageNumber,
                        limit: _this.tradeMarkTableConfig.pageSize
                    }
                }).then(function (response) {
                    if(response.data.code === 0){
                        _this.tradeMarkData = response.data.page.list;
                        _this.tradeMarkTableConfig.totalCount = response.data.page.totalCount;
                    }else{
                        alert(response.data.msg);
                    }
                }).catch(function (error) {
                    console.log(error);
                });
            },
            downLoadAgreement:function(finalFileName){
                var htmlStr='';
                if(finalFileName==null || finalFileName=='' || finalFileName=='undefined'){
                    htmlStr+='<b>无可下载合同资源,请联系对应顾问</b>';
                }else{
                    if(finalFileName!=null && finalFileName!='' && finalFileName!='undefined'){
                        htmlStr+="<a target='_blank' href='../../plugins/pdf/generic/web/viewer.html?file=/api/pdf/show/non/"+ finalFileName+"'>最终合同</a>"
                    }
                }
                alert(htmlStr)
            },
            updateAgreement:function(id,statusCode){
                var _this=this;
                alert('提交后不可修改合同信息，是否提交', function(){
                    axios.post('/api/resource/agreement/update',{
                            agreementId: id,
                            statusCode:statusCode

                    }).then(function (response) {
                            if(response.data.code === 0){
                                alert('操作成功', function(){
                                    _this.list();
                                });
                            }else{
                                alert(response.data.msg);
                            }
                        }).catch(function (error) {
                            console.log(error);
                        }
                    );
                });
            },
            getSubmitEndDate:function(val){
                this.condition.createEndDate=val;
            },
            getSubmitStartDate:function(val){
                this.condition.createStartDate=val;
            },

        },
        mounted () {
            this.list();
        },

        filters: {
            formatterDate: function (value) {
                return (value == null || value == undefined) ? "" : value.trim().substring(0, 10);
            }
        },

    });

</script>

</html>