<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="io.renren.modules.resource.dao.AgreementFinanceMapper" >
    <resultMap id="BaseResultMap" type="io.renren.modules.resource.model.AgreementFinanceModel" >
        <id column="id" property="id" jdbcType="VARCHAR" />
        <result column="agreement_id" property="agreementId" jdbcType="VARCHAR" />
        <result column="money" property="money" jdbcType="INTEGER" />
        <result column="status_code" property="statusCode" jdbcType="VARCHAR" />
        <result column="status_des" property="statusDes" jdbcType="VARCHAR" />
        <result column="adviser" property="adviser" jdbcType="VARCHAR" />
        <result column="first_party" property="firstParty" jdbcType="VARCHAR" />
        <result column="remarks_detail" property="remarksDetail" jdbcType="VARCHAR" />
        <result column="remit_code" property="remitCode" jdbcType="VARCHAR" />
        <result column="remit_des" property="remitDes" jdbcType="VARCHAR" />
        <result column="remit_date" property="remitDate" jdbcType="TIMESTAMP" />
        <result column="remit_account" property="remitAccount" jdbcType="VARCHAR" />
        <result column="gathering_account" property="gatheringAccount" jdbcType="VARCHAR" />
        <result column="create_by" property="createBy" jdbcType="VARCHAR" />
        <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
        <result column="update_by" property="updateBy" jdbcType="VARCHAR" />
        <result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
        <result column="remarks" property="remarks" jdbcType="VARCHAR" />
        <result column="delete_flag" property="deleteFlag" jdbcType="VARCHAR" />
    </resultMap>
    <sql id="Base_Column_List" >
    id, agreement_id, money, status_code, status_des, adviser, first_party, remarks_detail,
    remit_code, remit_des, remit_date, remit_account, gathering_account,
    create_by, create_date, update_by, update_date, remarks, delete_flag
  </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
        select
        <include refid="Base_Column_List" />
        from agreement_finance
        where id = #{id,jdbcType=VARCHAR}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from agreement_finance
    where id = #{id,jdbcType=VARCHAR}
  </delete>
    <insert id="insert" parameterType="io.renren.modules.resource.model.AgreementFinanceModel" >
    insert into agreement_finance (id, agreement_id, money,
      status_code, status_des, adviser,
      first_party, remarks_detail, remit_code,
      remit_des, remit_date, remit_account,
      gathering_account,
      create_by, create_date, update_by,
      update_date, remarks, delete_flag
      )
    values (#{id,jdbcType=VARCHAR}, #{agreementId,jdbcType=VARCHAR}, #{money,jdbcType=INTEGER},
      #{statusCode,jdbcType=VARCHAR}, #{statusDes,jdbcType=VARCHAR}, #{adviser,jdbcType=VARCHAR},
      #{firstParty,jdbcType=VARCHAR}, #{remarksDetail,jdbcType=VARCHAR}, #{remitCode,jdbcType=VARCHAR},
      #{remitDes,jdbcType=VARCHAR}, #{remitDate,jdbcType=TIMESTAMP}, #{remitAccount,jdbcType=VARCHAR},
      #{gatheringAccount,jdbcType=VARCHAR},
      #{createBy,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP}, #{updateBy,jdbcType=VARCHAR},
      #{updateDate,jdbcType=TIMESTAMP}, #{remarks,jdbcType=VARCHAR}, #{deleteFlag,jdbcType=VARCHAR}
      )
  </insert>
    <insert id="insertSelective" parameterType="io.renren.modules.resource.model.AgreementFinanceModel" >
        insert into agreement_finance
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                id,
            </if>
            <if test="agreementId != null" >
                agreement_id,
            </if>
            <if test="money != null" >
                money,
            </if>
            <if test="statusCode != null" >
                status_code,
            </if>
            <if test="statusDes != null" >
                status_des,
            </if>
            <if test="adviser != null" >
                adviser,
            </if>
            <if test="firstParty != null" >
                first_party,
            </if>
            <if test="remarksDetail != null" >
                remarks_detail,
            </if>
            <if test="remitCode != null" >
                remit_code,
            </if>
            <if test="remitDes != null" >
                remit_des,
            </if>
            <if test="remitDate != null" >
                remit_date,
            </if>
            <if test="remitAccount != null" >
                remit_account,
            </if>
            <if test="gatheringAccount != null" >
                gathering_account,
            </if>
            <if test="createBy != null" >
                create_by,
            </if>
            <if test="createDate != null" >
                create_date,
            </if>
            <if test="updateBy != null" >
                update_by,
            </if>
            <if test="updateDate != null" >
                update_date,
            </if>
            <if test="remarks != null" >
                remarks,
            </if>
            <if test="deleteFlag != null" >
                delete_flag,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                #{id,jdbcType=VARCHAR},
            </if>
            <if test="agreementId != null" >
                #{agreementId,jdbcType=VARCHAR},
            </if>
            <if test="money != null" >
                #{money,jdbcType=INTEGER},
            </if>
            <if test="statusCode != null" >
                #{statusCode,jdbcType=VARCHAR},
            </if>
            <if test="statusDes != null" >
                #{statusDes,jdbcType=VARCHAR},
            </if>
            <if test="adviser != null" >
                #{adviser,jdbcType=VARCHAR},
            </if>
            <if test="firstParty != null" >
                #{firstParty,jdbcType=VARCHAR},
            </if>
            <if test="remarksDetail != null" >
                #{remarksDetail,jdbcType=VARCHAR},
            </if>
            <if test="remitCode != null" >
                #{remitCode,jdbcType=VARCHAR},
            </if>
            <if test="remitDes != null" >
                #{remitDes,jdbcType=VARCHAR},
            </if>
            <if test="remitDate != null" >
                #{remitDate,jdbcType=TIMESTAMP},
            </if>
            <if test="remitAccount != null" >
                #{remitAccount,jdbcType=VARCHAR},
            </if>
            <if test="gatheringAccount != null" >
                #{gatheringAccount,jdbcType=VARCHAR},
            </if>
            <if test="createBy != null" >
                #{createBy,jdbcType=VARCHAR},
            </if>
            <if test="createDate != null" >
                #{createDate,jdbcType=TIMESTAMP},
            </if>
            <if test="updateBy != null" >
                #{updateBy,jdbcType=VARCHAR},
            </if>
            <if test="updateDate != null" >
                #{updateDate,jdbcType=TIMESTAMP},
            </if>
            <if test="remarks != null" >
                #{remarks,jdbcType=VARCHAR},
            </if>
            <if test="deleteFlag != null" >
                #{deleteFlag,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="io.renren.modules.resource.model.AgreementFinanceModel" >
        update agreement_finance
        <set >
            <if test="agreementId != null" >
                agreement_id = #{agreementId,jdbcType=VARCHAR},
            </if>
            <if test="money != null" >
                money = #{money,jdbcType=INTEGER},
            </if>
            <if test="statusCode != null" >
                status_code = #{statusCode,jdbcType=VARCHAR},
            </if>
            <if test="statusDes != null" >
                status_des = #{statusDes,jdbcType=VARCHAR},
            </if>
            <if test="adviser != null" >
                adviser = #{adviser,jdbcType=VARCHAR},
            </if>
            <if test="firstParty != null" >
                first_party = #{firstParty,jdbcType=VARCHAR},
            </if>
            <if test="remarksDetail != null" >
                remarks_detail = #{remarksDetail,jdbcType=VARCHAR},
            </if>
            <if test="remitCode != null" >
                remit_code = #{remitCode,jdbcType=VARCHAR},
            </if>
            <if test="remitDes != null" >
                remit_des = #{remitDes,jdbcType=VARCHAR},
            </if>
            <if test="remitDate != null" >
                remit_date = #{remitDate,jdbcType=TIMESTAMP},
            </if>
            <if test="remitAccount != null" >
                remit_account = #{remitAccount,jdbcType=VARCHAR},
            </if>
            <if test="gatheringAccount != null" >
                gathering_account = #{gatheringAccount,jdbcType=VARCHAR},
            </if>
            <if test="createBy != null" >
                create_by = #{createBy,jdbcType=VARCHAR},
            </if>
            <if test="createDate != null" >
                create_date = #{createDate,jdbcType=TIMESTAMP},
            </if>
            <if test="updateBy != null" >
                update_by = #{updateBy,jdbcType=VARCHAR},
            </if>
            <if test="updateDate != null" >
                update_date = #{updateDate,jdbcType=TIMESTAMP},
            </if>
            <if test="remarks != null" >
                remarks = #{remarks,jdbcType=VARCHAR},
            </if>
            <if test="deleteFlag != null" >
                delete_flag = #{deleteFlag,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="io.renren.modules.resource.model.AgreementFinanceModel" >
    update agreement_finance
    set agreement_id = #{agreementId,jdbcType=VARCHAR},
      money = #{money,jdbcType=INTEGER},
      status_code = #{statusCode,jdbcType=VARCHAR},
      status_des = #{statusDes,jdbcType=VARCHAR},
      adviser = #{adviser,jdbcType=VARCHAR},
      first_party = #{firstParty,jdbcType=VARCHAR},
      remarks_detail = #{remarksDetail,jdbcType=VARCHAR},
      remit_code = #{remitCode,jdbcType=VARCHAR},
      remit_des = #{remitDes,jdbcType=VARCHAR},
      remit_date = #{remitDate,jdbcType=TIMESTAMP},
      remit_account = #{remitAccount,jdbcType=VARCHAR},
      gathering_account = #{gatheringAccount,jdbcType=VARCHAR},
      create_by = #{createBy,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      update_by = #{updateBy,jdbcType=VARCHAR},
      update_date = #{updateDate,jdbcType=TIMESTAMP},
      remarks = #{remarks,jdbcType=VARCHAR},
      delete_flag = #{deleteFlag,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
    <select id="queryList" resultType="io.renren.modules.resource.vo.AgreementFinanceVo" >
        select
        A.id ,
        A.agreement_id AS agreementId,
        A.money ,
        A.adviser ,
        A.first_party AS firstParty,
        A.status_code AS statusCode,
        A.status_des AS statusDes,
        A.remit_code AS remitCode,
        A.remit_des AS remitDes,
        A.remit_date AS remitDate,
        A.remit_account AS remitAccount,
        A.gathering_account AS gatheringAccount,
        A.remarks,
        B.proxy_cost AS proxyCost,
        B.government_cost AS governmentCost
        from agreement_finance A left join resource_agreement B on A.agreement_id=B.agreement_id
        where A.delete_flag!='1'
        <if test="offset != null and limit != null ">
            limit #{offset}, #{limit}
        </if>
    </select>

    <select id="queryTotal" resultType="int">
    select count(1)
    from agreement_finance
    where delete_flag!='1'
  </select>

    <select id="queryFileList" resultType="io.renren.modules.resource.vo.AgreementFinanceVo" >
        select
                A.id ,
                A.agreement_id AS agreementId,
                A. money ,
                A.adviser ,
                A.first_party AS firstParty,
                A.remit_code AS remitCode,
                A.remit_des AS remitDes,
                A.remit_date AS remitDate,
                A.remit_account AS remitAccount,
                A.gathering_account AS gatheringAccount,
                A.remarks,
                B.proxy_cost AS proxyCost,
                B.government_cost AS governmentCost
        from agreement_finance A left join resource_agreement B on A.agreement_id=B.agreement_id
        where  A.adviser=#{username,jdbcType=VARCHAR}
        and A.status_code=#{statusCode,jdbcType=VARCHAR}
        and A.delete_flag!='1'
        <if test="offset != null and limit != null ">
            limit #{offset}, #{limit}
        </if>
    </select>

    <select id="queryFileListTotal" resultType="int">
    select count(1)
    from agreement_finance
    where adviser=#{username,jdbcType=VARCHAR}
    and status_code=#{statusCode,jdbcType=VARCHAR}
    and delete_flag!='1'
  </select>
</mapper>