<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="io.renren.modules.resource.dao.AgreementFinanceMapper" >
    <resultMap id="BaseResultMap" type="io.renren.modules.resource.model.AgreementFinanceModel" >
        <id column="agreement_id" property="agreementId" jdbcType="VARCHAR" />
        <result column="id" property="id" jdbcType="VARCHAR" />
        <result column="money" property="money" jdbcType="INTEGER" />
        <result column="status_code" property="statusCode" jdbcType="VARCHAR" />
        <result column="status_des" property="statusDes" jdbcType="VARCHAR" />
        <result column="adviser" property="adviser" jdbcType="VARCHAR" />
        <result column="first_party" property="firstParty" jdbcType="VARCHAR" />
        <result column="remarks_detail" property="remarksDetail" jdbcType="VARCHAR" />
        <result column="remit_code" property="remitCode" jdbcType="VARCHAR" />
        <result column="remit_des" property="remitDes" jdbcType="VARCHAR" />
        <result column="remit_date" property="remitDate" jdbcType="TIMESTAMP" />
        <result column="remit_account" property="remitAccount" jdbcType="VARCHAR" />
        <result column="gathering_account" property="gatheringAccount" jdbcType="VARCHAR" />
        <result column="government_cost" property="governmentCost" jdbcType="INTEGER" />
        <result column="agent_cost" property="agentCost" jdbcType="INTEGER" />
        <result column="create_by" property="createBy" jdbcType="VARCHAR" />
        <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
        <result column="update_by" property="updateBy" jdbcType="VARCHAR" />
        <result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
        <result column="remarks" property="remarks" jdbcType="VARCHAR" />
    </resultMap>
    <sql id="Base_Column_List" >
    agreement_id, id, money, status_code, status_des, adviser, first_party, remarks_detail,
    remit_code, remit_des, remit_date, remit_account, gathering_account, government_cost,
    agent_cost, create_by, create_date, update_by, update_date, remarks
  </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
        select
        <include refid="Base_Column_List" />
        from agreement_finance
        where id = #{id,jdbcType=VARCHAR}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from agreement_finance
    where id = #{id,jdbcType=VARCHAR}
  </delete>
    <insert id="insert" parameterType="io.renren.modules.resource.model.AgreementFinanceModel" >
    insert into agreement_finance (agreement_id, id, money,
      status_code, status_des, adviser,
      first_party, remarks_detail, remit_code,
      remit_des, remit_date, remit_account,
      gathering_account, government_cost, agent_cost,
      create_by, create_date, update_by,
      update_date, remarks)
    values (#{agreementId,jdbcType=VARCHAR}, #{id,jdbcType=VARCHAR}, #{money,jdbcType=INTEGER},
      #{statusCode,jdbcType=VARCHAR}, #{statusDes,jdbcType=VARCHAR}, #{adviser,jdbcType=VARCHAR},
      #{firstParty,jdbcType=VARCHAR}, #{remarksDetail,jdbcType=VARCHAR}, #{remitCode,jdbcType=VARCHAR},
      #{remitDes,jdbcType=VARCHAR}, #{remitDate,jdbcType=TIMESTAMP}, #{remitAccount,jdbcType=VARCHAR},
      #{gatheringAccount,jdbcType=VARCHAR}, #{governmentCost,jdbcType=INTEGER}, #{agentCost,jdbcType=INTEGER},
      #{createBy,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP}, #{updateBy,jdbcType=VARCHAR},
      #{updateDate,jdbcType=TIMESTAMP}, #{remarks,jdbcType=VARCHAR})
  </insert>
    <insert id="insertSelective" parameterType="io.renren.modules.resource.model.AgreementFinanceModel" >
        insert into agreement_finance
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="agreementId != null" >
                agreement_id,
            </if>
            <if test="id != null" >
                id,
            </if>
            <if test="money != null" >
                money,
            </if>
            <if test="statusCode != null" >
                status_code,
            </if>
            <if test="statusDes != null" >
                status_des,
            </if>
            <if test="adviser != null" >
                adviser,
            </if>
            <if test="firstParty != null" >
                first_party,
            </if>
            <if test="remarksDetail != null" >
                remarks_detail,
            </if>
            <if test="remitCode != null" >
                remit_code,
            </if>
            <if test="remitDes != null" >
                remit_des,
            </if>
            <if test="remitDate != null" >
                remit_date,
            </if>
            <if test="remitAccount != null" >
                remit_account,
            </if>
            <if test="gatheringAccount != null" >
                gathering_account,
            </if>
            <if test="governmentCost != null" >
                government_cost,
            </if>
            <if test="agentCost != null" >
                agent_cost,
            </if>
            <if test="createBy != null" >
                create_by,
            </if>
            <if test="createDate != null" >
                create_date,
            </if>
            <if test="updateBy != null" >
                update_by,
            </if>
            <if test="updateDate != null" >
                update_date,
            </if>
            <if test="remarks != null" >
                remarks,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="agreementId != null" >
                #{agreementId,jdbcType=VARCHAR},
            </if>
            <if test="id != null" >
                #{id,jdbcType=VARCHAR},
            </if>
            <if test="money != null" >
                #{money,jdbcType=INTEGER},
            </if>
            <if test="statusCode != null" >
                #{statusCode,jdbcType=VARCHAR},
            </if>
            <if test="statusDes != null" >
                #{statusDes,jdbcType=VARCHAR},
            </if>
            <if test="adviser != null" >
                #{adviser,jdbcType=VARCHAR},
            </if>
            <if test="firstParty != null" >
                #{firstParty,jdbcType=VARCHAR},
            </if>
            <if test="remarksDetail != null" >
                #{remarksDetail,jdbcType=VARCHAR},
            </if>
            <if test="remitCode != null" >
                #{remitCode,jdbcType=VARCHAR},
            </if>
            <if test="remitDes != null" >
                #{remitDes,jdbcType=VARCHAR},
            </if>
            <if test="remitDate != null" >
                #{remitDate,jdbcType=TIMESTAMP},
            </if>
            <if test="remitAccount != null" >
                #{remitAccount,jdbcType=VARCHAR},
            </if>
            <if test="gatheringAccount != null" >
                #{gatheringAccount,jdbcType=VARCHAR},
            </if>
            <if test="governmentCost != null" >
                #{governmentCost,jdbcType=INTEGER},
            </if>
            <if test="agentCost != null" >
                #{agentCost,jdbcType=INTEGER},
            </if>
            <if test="createBy != null" >
                #{createBy,jdbcType=VARCHAR},
            </if>
            <if test="createDate != null" >
                #{createDate,jdbcType=TIMESTAMP},
            </if>
            <if test="updateBy != null" >
                #{updateBy,jdbcType=VARCHAR},
            </if>
            <if test="updateDate != null" >
                #{updateDate,jdbcType=TIMESTAMP},
            </if>
            <if test="remarks != null" >
                #{remarks,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="io.renren.modules.resource.model.AgreementFinanceModel" >
        update agreement_finance
        <set >
            <if test="id != null" >
                id = #{id,jdbcType=VARCHAR},
            </if>
            <if test="money != null" >
                money = #{money,jdbcType=INTEGER},
            </if>
            <if test="statusCode != null" >
                status_code = #{statusCode,jdbcType=VARCHAR},
            </if>
            <if test="statusDes != null" >
                status_des = #{statusDes,jdbcType=VARCHAR},
            </if>
            <if test="adviser != null" >
                adviser = #{adviser,jdbcType=VARCHAR},
            </if>
            <if test="firstParty != null" >
                first_party = #{firstParty,jdbcType=VARCHAR},
            </if>
            <if test="remarksDetail != null" >
                remarks_detail = #{remarksDetail,jdbcType=VARCHAR},
            </if>
            <if test="remitCode != null" >
                remit_code = #{remitCode,jdbcType=VARCHAR},
            </if>
            <if test="remitDes != null" >
                remit_des = #{remitDes,jdbcType=VARCHAR},
            </if>
            <if test="remitDate != null" >
                remit_date = #{remitDate,jdbcType=TIMESTAMP},
            </if>
            <if test="remitAccount != null" >
                remit_account = #{remitAccount,jdbcType=VARCHAR},
            </if>
            <if test="gatheringAccount != null" >
                gathering_account = #{gatheringAccount,jdbcType=VARCHAR},
            </if>
            <if test="governmentCost != null" >
                government_cost = #{governmentCost,jdbcType=INTEGER},
            </if>
            <if test="agentCost != null" >
                agent_cost = #{agentCost,jdbcType=INTEGER},
            </if>
            <if test="createBy != null" >
                create_by = #{createBy,jdbcType=VARCHAR},
            </if>
            <if test="createDate != null" >
                create_date = #{createDate,jdbcType=TIMESTAMP},
            </if>
            <if test="updateBy != null" >
                update_by = #{updateBy,jdbcType=VARCHAR},
            </if>
            <if test="updateDate != null" >
                update_date = #{updateDate,jdbcType=TIMESTAMP},
            </if>
            <if test="remarks != null" >
                remarks = #{remarks,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="io.renren.modules.resource.model.AgreementFinanceModel" >
    update agreement_finance
    set id = #{id,jdbcType=VARCHAR},
      money = #{money,jdbcType=INTEGER},
      status_code = #{statusCode,jdbcType=VARCHAR},
      status_des = #{statusDes,jdbcType=VARCHAR},
      adviser = #{adviser,jdbcType=VARCHAR},
      first_party = #{firstParty,jdbcType=VARCHAR},
      remarks_detail = #{remarksDetail,jdbcType=VARCHAR},
      remit_code = #{remitCode,jdbcType=VARCHAR},
      remit_des = #{remitDes,jdbcType=VARCHAR},
      remit_date = #{remitDate,jdbcType=TIMESTAMP},
      remit_account = #{remitAccount,jdbcType=VARCHAR},
      gathering_account = #{gatheringAccount,jdbcType=VARCHAR},
      government_cost = #{governmentCost,jdbcType=INTEGER},
      agent_cost = #{agentCost,jdbcType=INTEGER},
      create_by = #{createBy,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      update_by = #{updateBy,jdbcType=VARCHAR},
      update_date = #{updateDate,jdbcType=TIMESTAMP},
      remarks = #{remarks,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>

  <select id="queryList" resultType="io.renren.modules.resource.model.AgreementFinanceModel" >
    select * from agreement_finance

    <if test="offset != null and limit != null ">
      limit #{offset}, #{limit}
    </if>
  </select>

  <select id="queryTotal" resultType="int">
    select count(1)
    from agreement_finance


  </select>
</mapper>