<!DOCTYPE html>
<html>
<head>
    <title>放弃库</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="../../plugins/element/theme-default/index.css">
    <link rel="stylesheet" href="../../css/bootstrap.min.css">
    <link rel="stylesheet" href="../../css/main.css">
    <script src="../../libs/jquery-3.1.1.min.js"></script>
    <script src="../../libs/bootstrap.min.js"></script>
    <script src="../../libs/json2.js"></script>
    <script src="../../libs/vue.min.js"></script>
    <script src="../../libs/axios.min.js"></script>
    <script src="../../js/axiso.js"></script>
    <script src="../../js/common.js"></script>
    <script src="../../plugins/element/index.js"></script>

</head>
<body>
    <div id="test">
        <div style="margin-bottom: 50px;">
            <table class="table table-bordered" v-loading="listLoading">
                <colgroup>
                    <col width="18%">
                    <col width="10%">
                    <col width="17%">
                    <col width="10%">
                    <col width="10%">
                    <col width="10%">
                    <col width="15%">
                    <col width="10%">
                </colgroup>
                <thead>
                <tr>
                    <th hidden>资源ID</th>
                    <th>名称</th>
                    <th>类型</th>
                    <th>领域</th>
                    <th>联系人</th>
                    <th>电话</th>
                    <th>QQ</th>
                    <th>提交时间</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="item in tableData">
                    <td hidden>{{item.id}}</td>
                    <td>{{item.name}}</td>
                    <td>{{item.typeDes}}</td>
                    <td>{{item.fieldDes}}</td>
                    <td>{{item.linkMan}}</td>
                    <td>{{item.phoneNumber}}</td>
                    <td>{{item.qqNumber}}</td>
                    <td>{{item.submitDate|formatterDate}}</td>
                    <td><div class="btn-group" data-toggle="buttons-radio">
                        <button @click="sureResource(item.id)" class="btn btn-primary btn-padding-reset">确认</button>
                    </div>
                    </td>
                </tr>
                </tbody>
            </table>
            <!--v-show="tableConfig.totalCount"-->
            <div class="page-wrap bottom_footer" >
                <el-pagination
                        class="align-right"
                        @size-change="handleSizeChange"
                        @current-change="handleCurrentChange"
                        :current-page="tableConfig.pageNumber"
                        :page-sizes="[10, 20, 50]"
                        :page-size='tableConfig.pageSize'
                        layout="total, sizes, prev, pager, next, jumper"
                        :total="tableConfig.totalCount">
                </el-pagination>
            </div>
        </div>
    </div>
<script>
    new Vue({
        el:"#test",
        data(){
            return {
                list_url:baseURL + 'api/resource/RDSP_002/list/RS_001',
                sure_url:baseURL + 'api/resource/RDSP_002/update/sure',
                tableData: [],
                listLoading:false,
                showColumn:false,
                //表格参数
                tableConfig: {
                    //总数据
                    totalCount:100,
                    //当前页
                    pageNumber:1,
                    //每页条数
                    pageSize:10,
                },
            }

        },
        methods: {
            handleCurrentChange(val) {
                this.tableConfig.pageNumber = val;
                this.list();
            },
            handleSizeChange(val) {
                this.tableConfig.pageNumber = 1;
                this.tableConfig.pageSize = val;
                this.list();
            },
            sureResource:function(id){
                var _this=this;
               /* $.ajax({
                    type: "POST",
                    url: _this.sure_url,
                    contentType: "application/json",
                    data: JSON.stringify({id:id}),
                    success: function(r){
                        if(r.code === 0){
                            alert('操作成功', function(){
                                _this.list();
                                _this.listLoading = false;
                            });
                        } else{
                            alert(r.msg);
                        }
                    }
                })*/
                axios.post('api/resource/RDSP_002/update/sure', {
                    page: _this.tableConfig.pageNumber,
                    limit: _this.tableConfig.pageSize
                }).then(function (response) {
                    console.log(response);
                    if(response.data.code === 0){
                        _this.tableData = response.data.page.list;
                        _this.tableConfig.totalCount = response.data.page.totalCount;
                    }
                }).catch(function (error) {
                    console.log(error);
                });
            },
            list: function() {
                var _this=this;
                _this.tableData = [];
                axios.get('api/resource/RDSP_002/list/RS_001', {
                    params: {
                        page: _this.tableConfig.pageNumber,
                        limit: _this.tableConfig.pageSize
                    }
                }).then(function (response) {
                    console.log(response);
                    if(response.data.code === 0){
                        _this.tableData = response.data.page.list;
                        _this.tableConfig.totalCount = response.data.page.totalCount;
                    }
                }).catch(function (error) {
                    console.log(error);
                });
            }
        },
        mounted () {
            this.list();
        },

        filters: {
            formatterDate: function (value) {
                return (value == null || value == undefined) ? "" : value.trim().substring(0, 10);
            }
        },

    });

</script>

</body>
</html>