<!DOCTYPE html>
<html>
<head>
    <title>我的资源1</title>
    <meta charset="UTF-8">
    <meta http-equiv="Expires" content="0">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Cache-control" content="no-cache">
    <meta http-equiv="Cache" content="no-cache">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

    <link rel="stylesheet" href="../../plugins/element/theme-default/index.css">
    <link rel="stylesheet" href="../../css/bootstrap.min.css">
    <link rel="stylesheet" href="../../css/main.css">
    <script src="../../libs/jquery-3.1.1.min.js"></script>
    <script src="../../plugins/layer/layer.js"></script>

    <script src="../../libs/bootstrap.min.js"></script>
    <script src="../../libs/json2.js"></script>
    <script src="../../libs/vue.min.js"></script>
    <script src="../../libs/axios.min.js"></script>
    <script src="../../js/axiso.js"></script>
    <script src="../../plugins/laydate/laydate.js"></script>
    <script src="../../plugins/element/index.js"></script>
    <script src="https://cdn.bootcss.com/vee-validate/2.0.9/vee-validate.min.js"></script>
    <script src="https://cdn.bootcss.com/vee-validate/2.0.9/locale/zh_CN.js"></script>
</head>
<body>
<div id="rrapp" v-cloak>
    <div  v-show="showList" >
        <form role="form" class="contain">
            <div class="form-group form-inline row">
                <a  class="btn btn-primary " @click="addCustomer"><i class="glyphicon glyphicon-plus"></i>&nbsp;添加客户</a>
                <select  v-model="condition.queryTypeCode" class="form-control">
                    <option value="00">查询方式</option>
                    <option value="QU_001">电话</option>
                    <option value="QU_002">QQ</option>
                    <option value="QU_003">客户名称</option>
                </select>
                <input type="text"  v-model="condition.queryTypeValue" class="form-control">
                <span class="form-inline">
                    <span class="demonstration">提交时间</span>
                    <el-date-picker
                            v-model="condition.submitStartDate"
                            type="date"
                            placeholder="选择日期"
                            @change="getSubmitStartDate"
                            value-format="yyyy-MM-dd">
                    </el-date-picker>
                </span>
                <span class="form-inline">
                    <span class="demonstration">确认时间</span>
                    <el-date-picker
                            v-model="condition.sureStartDate"
                            type="date"
                            placeholder="选择日期"
                            @change="getSureStartDate"
                            value-format="yyyy-MM-dd">
                    </el-date-picker>
                </span>
                <a  class="btn btn-primary" @click="query"><i class="glyphicon glyphicon-search"></i>&nbsp;查询</a>
            </div>
        </form>
        <div style="margin-bottom: 50px;">
            <table class="table table-bordered" v-loading="listLoading">
                <colgroup>
                    <col width="16%">
                    <col width="10%">
                    <col width="15%">
                    <col width="10%">
                    <col width="10%">
                    <col width="10%">
                    <col width="13%">
                    <col width="16%">
                </colgroup>
                <thead>
                <tr>
                    <th hidden>资源ID</th>
                    <th>名称</th>
                    <th>类型</th>
                    <th>领域</th>
                    <th>联系人</th>
                    <th>电话</th>
                    <th>QQ</th>
                    <th>提交时间</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="item in tableData">
                    <td hidden>{{item.id}}</td>
                    <td>{{item.name}}</td>
                    <td>{{item.typeDes}}</td>
                    <td>{{item.fieldDes}}</td>
                    <td>{{item.linkMan}}</td>
                    <td>{{item.phoneNumber}}</td>
                    <td>{{item.qqNumber}}</td>
                    <td>{{item.submitDate|formatterDate}}</td>
                    <td>
                        <div class="btn-group" data-toggle="buttons-radio">
                            <button class="btn btn-primary btn-padding-reset"
                                    @click="addRecord(item.id)">记录</button>
                            <button class="btn btn-primary btn-padding-reset" :disabled="item.statusCode=='RS_004'"
                                    @click="addAgreement(item.id,item.linkMan)">合同</button>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
            <div class="page-wrap bottom_footer" >
                <el-pagination
                        class="align-right"
                        @size-change="handleSizeChange"
                        @current-change="handleCurrentChange"
                        :current-page="tableConfig.pageNumber"
                        :page-sizes="[10, 20, 50]"
                        :page-size='tableConfig.pageSize'
                        layout="total, sizes, prev, pager, next, jumper"
                        :total="tableConfig.totalCount">
                </el-pagination>
            </div>
        </div>
    </div>
    <!--添加客户 start-->

    <div class="modal fade" id="addCustomer" tabindex="-1" role="dialog" aria-labelledby="addCustomerLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title" id="addCustomerLabel">
                        添加客户
                    </h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <div class="col-sm-2 control-label">业务类型</div>
                            <div class="col-sm-10">
                                <select  v-model="customerResource.typeCode" v-validate="'required'" name="资源业务类型" class="form-control clo-sm-2">
                                    <option value="RT_001">商标</option>
                                    <option value="RT_002">专利</option>
                                    <option value="RT_003">国际商标</option>
                                    <option value="RT_004">国际专利</option>
                                </select>
                                <div v-show="errors.has('资源业务类型')" class="alert alert-danger">{{ errors.first('资源业务类型') }}</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-2 control-label">名称</div>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" v-model="customerResource.name" v-validate="'required'" name="资源名称" placeholder="名称"/>
                                <div v-show="errors.has('资源名称')" class="alert alert-danger">{{ errors.first('资源名称') }}</div>
                            </div>

                        </div>
                        <div class="form-group">
                            <div class="col-sm-2 control-label">行业/类型</div>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" v-model="customerResource.fieldDes" v-validate="'required'" name="行业/类型" placeholder="行业/类型"/>
                                <div v-show="errors.has('行业/类型')" class="alert alert-danger">{{ errors.first('行业/类型') }}</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-2 control-label">联系人</div>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" v-model="customerResource.linkMan" v-validate="'required'" name="客户联系人" placeholder="联系人"/>
                                <div v-show="errors.has('客户联系人')" class="alert alert-danger">{{ errors.first('客户联系人') }}</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-2 control-label">联系电话</div>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" v-model="customerResource.phoneNumber" v-validate="'required'" name="客户联系电话"  placeholder="联系电话"/>
                                <div v-show="errors.has('客户联系电话')" class="alert alert-danger">{{ errors.first('客户联系电话') }}</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-2 control-label">联系QQ</div>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" v-model="customerResource.qqNumber" v-validate="'required'" name="联系QQ" placeholder="联系QQ"/>
                                <div v-show="errors.has('联系QQ')" class="alert alert-danger">{{ errors.first('联系QQ') }}</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-2 control-label">来源</div>
                            <div class="col-sm-10">
                                <select  v-model="customerResource.sourceCode" v-validate="'required'" name="资源来源" class="form-control clo-sm-2">
                                    <option value="ST_001">商桥</option>
                                    <option value="ST_002">电销</option>
                                    <option value="ST_003">400</option>
                                    <option value="ST_004">QQ</option>
                                    <option value="ST_005">其他</option>
                                </select>
                                <div v-show="errors.has('资源来源')" class="alert alert-danger">{{ errors.first('资源来源') }}</div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                    </button>
                    <button type="button" class="btn btn-primary" @click="saveResource">
                        提交
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!--添加客户 end-->


    <!--记录 start-->

    <div class="modal fade " id="addResist" tabindex="-1" role="dialog" aria-labelledby="addResistLabel" aria-hidden="true">
        <div class="modal-dialog form-max-panel">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title" id="addResistLabel">
                        添加记录
                    </h4>
                </div>
                <div class="modal-body row">
                    <div class="col-sm-8">
                        <table class="table table-bordered">
                            <colgroup>
                                <col width="30%">
                                <col width="70%">
                            </colgroup>
                            <thead>
                            <tr>
                                <th hidden>记录ID</th>
                                <th>回访日期</th>
                                <th>内容</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr v-for="item in revisitData">
                                <td hidden>{{item.id}}</td>
                                <td>{{item.revisitDate}}</td>
                                <td>{{item.intentDes}} , {{item.revisitRemark}}</td>
                            </tr>
                            </tbody>
                        </table>
                        <div class="page-wrap bottom_footer" >
                            <el-pagination
                                    class="align-right"
                                    @size-change="handleRevisitSizeChange"
                                    @current-change="handleRevisitCurrentChange"
                                    :current-page="revisitTableConfig.pageNumber"
                                    :page-sizes="[5, 10]"
                                    :page-size='revisitTableConfig.pageSize'
                                    layout="total, sizes, prev, pager, next, jumper"
                                    :total="revisitTableConfig.totalCount">
                            </el-pagination>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group" style="margin: 5px 0px">
                            <select id="record_intention" v-model="revisit.intentCode"  class="form-control">
                                <option value="00">意向程度</option>
                                <option value="IN_001">意向特别好的</option>
                                <option value="IN_002">改名</option>
                                <option value="IN_003">执照没下来</option>
                                <option value="IN_004">字可以注册，还没有委托我</option>
                                <option value="IN_005">已经注册过了，一手标</option>
                                <option value="IN_006">其他</option>
                                <option value="IN_008">不跟踪了</option>
                                <option value="IN_009">已经签合同的资源</option>
                                <option value="IN_010">待确认</option>
                                <option value="IN_011">重复提交</option>
                            </select>
                        </div>
                        <div class="form-inline">
                            <span class="demonstration">回访日期</span>
                            <el-date-picker
                                    v-model="revisit.revisitDate"
                                    type="date"
                                    placeholder="选择日期"
                                    @change="getRevisitDate"
                                    value-format="yyyy-MM-dd">
                            </el-date-picker>
                       </div>
                        <div class="form-group" style="margin: 5px 0px">
                      <textarea class="form-control" rows="5" v-model="revisit.revisitRemark"
                                placeholder="输入回访记"></textarea>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                    </button>
                    <button type="button" class="btn btn-primary" @click="saveRevisit">
                        提交
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!--记录 end-->

    <!--添加合同 start-->
    <div class="modal fade" id="addAgreement" tabindex="-1" role="dialog" aria-labelledby="addAgreementLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title" id="addAgreementLabel">
                        添加合同
                    </h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal">
                        <input type="text"  v-model="agreement.resourceId" class="hidden"/>
                        <div class="form-group">
                            <div class="col-sm-2 control-label">合同编号 </div>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" v-model="agreement.agreementId" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-2 control-label">总费用</div>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" v-model="agreement.allcost" v-validate="'required|numeric'" name="总费用" placeholder="总费用(单位元)"/>
                                <div v-show="errors.has('总费用')" class="alert alert-danger">{{ errors.first('总费用') }}</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-2 control-label">定金</div>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" v-model="agreement.earnest" v-validate="'required|numeric'" name="定金" placeholder="定金"/>
                                <div v-show="errors.has('定金')" class="alert alert-danger">{{ errors.first('定金') }}</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-2 control-label">尾款</div>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" v-model="agreement.finalPayment" v-validate="'required|numeric'" name="尾款" placeholder="尾款"/>
                                <div v-show="errors.has('尾款')" class="alert alert-danger">{{ errors.first('尾款') }}</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-2 control-label">联系人</div>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" v-model="agreement.linkMan" v-validate="'required'" name="联系人" placeholder="联系人"/>
                                <div v-show="errors.has('联系人')" class="alert alert-danger">{{ errors.first('联系人') }}</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-2 control-label">甲方</div>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" v-model="agreement.firstParty" v-validate="'required'" name="甲方" placeholder="甲方"/>
                                <div v-show="errors.has('甲方')" class="alert alert-danger">{{ errors.first('甲方') }}</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-2 control-label">客户邮箱</div>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" v-model="agreement.email" v-validate="'required|email'" name="客户邮箱" placeholder="客户邮箱"/>
                                <div v-show="errors.has('客户邮箱')" class="alert alert-danger">{{ errors.first('客户邮箱') }}</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-2 control-label">电话</div>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" v-model="agreement.phoneNumber" v-validate="'required'" name="电话" placeholder="电话"/>
                                <div v-show="errors.has('电话')" class="alert alert-danger">{{ errors.first('电话') }}</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-2 control-label">地址</div>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" v-model="agreement.address" v-validate="'required'" name="地址" placeholder="地址"/>
                                <div v-show="errors.has('地址')" class="alert alert-danger">{{ errors.first('地址') }}</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-2 control-label">合同类型</div>
                            <div class="col-sm-10">
                                <select  v-model="agreement.typeCode" v-validate="'required'" name="合同类型" class="form-control clo-sm-2">
                                    <option value="AGT_001">商标</option>
                                    <option value="AGT_002">专利</option>
                                    <option value="AGT_003">版权</option>
                                </select>
                                <div v-show="errors.has('合同类型')" class="alert alert-danger">{{ errors.first('合同类型') }}</div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                    </button>
                    <button type="button" class="btn btn-primary" @click="saveAgreement">
                        提交
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!--添加合同 end-->
</div>

<script>
    Vue.use(VeeValidate);
    VeeValidate.Validator.localize('zh_CN');
    new Vue({
        el:"#rrapp",
        data(){
            return {
                list_url:'api/resource/RDSP_002/list',
                cancel_url:'api/resource/RDSP_002/update/cancel',
                tableData: [],
                revisitData: [],
                listLoading:false,
                showColumn:false,
                //表格参数
                tableConfig: {
                    //总数据
                    totalCount:0,
                    //当前页
                    pageNumber:1,
                    //每页条数
                    pageSize:10,
                },
                //记录表格参数
                revisitTableConfig: {
                    //总数据
                    totalCount:0,
                    //当前页
                    pageNumber:1,
                    //每页条数
                    pageSize:5,
                },
                condition:{
                    queryTypeCode: '00',
                    queryTypeValue: null,
                    dataSourceCode:'RDSP_002',
                    statusCode:'RS_002,RS_004',
                    typeCode: '00',
                    infoRange: '00',
                    acrossCode:'00',
                    infoRangeCode:'00',
                    submitStartDate: null,
                    submitEndDate: null,
                    sureStartDate: null,
                    sureEndDate: null
                },
                title:null,
                showAddCustomer:false,
                showAddRecord:false,
                showAddAgreement:false,
                showList: true,
                resource:{
                    id:null,
                    name:null,
                    typeDes:null,
                    sourceDes:null,
                    fieldDes:null,
                    intentDes:null,
                    linkMan:null,
                    phoneNumber:null,
                    qqNumber:null,
                    enterWay:null,
                    remarks:null,
                    submitBy:null,
                    submitDate:null,
                    sureBy:null,
                    sureDate:null,
                    adviser:null,
                    createBy:null,
                    createDate:null,
                    updateBy:null,
                    updateDate:null,
                    endRevisitDate:null
                },
                customerResource:{
                    name:null,
                    typeCode:null,
                    sourceCode:null,
                    fieldDes:null,
                    linkMan:null,
                    phoneNumber:null,
                    qqNumber:null
                },
                revisit:{
                    resourceId:null,
                    revisitDate:null,
                    revisitRemark:null,
                    intentCode:'00'
                },
                agreement:{
                    agreementId:null,
                    resourceId:null,
                    statusCode:null,
                    allcost:null,
                    earnest:null,
                    finalPayment:null,
                    linkMan:null,
                    firstParty:null,
                    email:null,
                    phoneNumber:null,
                    address:null,
                    typeCode:'AGT_001'
                }
            }

        },
        methods: {
            handleCurrentChange(val) {
                this.tableConfig.pageNumber = val;
                this.list();
            },
            handleSizeChange(val) {
                this.tableConfig.pageNumber = 1;
                this.tableConfig.pageSize = val;
                this.list();
            },
            handleRevisitCurrentChange(val) {
                this.revisitTableConfig.pageNumber = val;
                this.listRevisit();
            },
            handleRevisitSizeChange(val) {
                this.revisitTableConfig.pageNumber = 1;
                this.revisitTableConfig.pageSize = val;
                this.listRevisit();
            },
            list: function() {
                var _this=this;
                _this.tableData = [];
                axios.get(_this.list_url,{params:{
                        statusCode:_this.condition.statusCode,
                        page: _this.tableConfig.pageNumber,
                        limit: _this.tableConfig.pageSize,
                        intentCode: _this.condition.intentCode,
                        queryTypeCode: _this.condition.queryTypeCode,
                        queryTypeValue: _this.condition.queryTypeValue,
                        typeCode: _this.condition.typeCode,
                        acrossCode: _this.condition.acrossCode,
                        submitStartDate: _this.condition.submitStartDate,
                        submitEndDate: _this.condition.submitEndDate,
                        sureStartDate: _this.condition.sureStartDate,
                        sureEndDate: _this.condition.sureEndDate,
                        infoRangeCode:_this.condition.infoRangeCode
                    }}).then(function (response) {
                    if(response.data.code === 0){
                        _this.tableData = response.data.page.list;
                        _this.tableConfig.totalCount = response.data.page.totalCount;
                    }else{
                        alert(response.data.msg);
                    }
                }).catch(function (error) {
                    console.log(error);
                });
            },
            cancelResource:function(id){
                var _this=this;
                axios.post('api/resource/RDSP_002/update/cancel',
                    {id:id}
                ).then(function (response) {
                    console.log(response);
                    if(response.data.code === 0){
                        alert('操作成功,资源将在放弃库里显示', function(){
                            _this.list();
                            _this.listLoading = false;
                        });
                    }else{
                        alert(response.data.msg)
                    }
                }).catch(function (error) {
                    console.log(error);
                });

            },
            addCustomer: function(){
                var _this=this;
               // _this.showList = false;
                //_this.showAddCustomer = true;
                //_this.title = "添加客户";
                $("#addCustomer").modal('show');
                _this.customerResource = {
                    name:null,
                    typeCode:null,
                    sourceCode:null,
                    fieldDes:null,
                    linkMan:null,
                    phoneNumber:null,
                    qqNumber:null
                };
            },
            addAgreement: function(id,linkMan){
                var _this=this;
                /*是否选中校验*/
                if(id == null || id == '' || id == undefined){
                    alert("请选择一条数据");
                    return ;
                }
                $("#addAgreement").modal('show');
                _this.agreement = {
                    agreementId:'ZY'+_this.getCurrentDate(),
                    resourceId:id,
                    allcost:null,
                    earnest:null,
                    finalPayment:null,
                    linkMan:linkMan,
                    firstParty:null,
                    statusCode:'AGS_001',
                    email:null,
                    phoneNumber:null,
                    address:null,
                    agreementTypeCode:'AGT_003'
                };
            },
            addRecord: function (id) {
                var _this=this;
                $("#addResist").modal('show');
                /*是否选中校验*/
                if(id == null || id == '' || id == undefined){
                    alert("请选择一条数据");
                    return ;
                }
                _this.revisit.resourceId=id;
                _this.listRevisit();
                /*设置弹窗*/
                laydate.render({
                    elem: '#revisitDate' //指定元素
                });
                //TODO

            },
            saveRevisit: function () {
                var _this=this;
                axios.post('api/revisit/save',_this.revisit).then(function (response) {
                    if(response.data.code === 0){
                        alert('操作成功', function(){
                            _this.listRevisit();
                        });
                    }else{
                        alert(response.data.msg)
                    }
                }).catch(function (error) {
                    console.log(error);
                });
            },
            listRevisit:function(){
                var _this = this;
                var url = 'api/revisit/list/'+_this.revisit.resourceId
                axios.get(url,{params:{
                        page: _this.revisitTableConfig.pageNumber,
                        limit: _this.revisitTableConfig.pageSize,
                        }}
                    ).then(function (response) {
                    if(response.data.code === 0){
                        _this.revisitData = response.data.page.list;
                        _this.revisitTableConfig.totalCount = response.data.page.totalCount;
                    }else{
                        alert(response.data.msg);
                    }
                }).catch(function (error) {
                    console.log(error);
                });
            },
            saveAgreement:function(){
                var url = 'api/resource/agreement/save';
                var _this=this;
                var agreementId = _this.agreement.agreementId;
                var resourceId = _this.agreement.resourceId;
                var allcost = _this.agreement.allcost;
                var earnest = _this.agreement.earnest;
                var finalPayment = _this.agreement.finalPayment;
                var linkMan = _this.agreement.linkMan;
                var firstParty = _this.agreement.firstParty;
                var email = _this.agreement.email;
                var phoneNumber = _this.agreement.phoneNumber;
                var address = _this.agreement.address;
                var typeCode = _this.agreement.typeCode;
                if (!(agreementId&&resourceId&&allcost&&earnest&&finalPayment&&linkMan&&firstParty&&email&&phoneNumber&&address&&typeCode)) {
                    alert('请正确填写表单数据', function(){
                        _this.$validator.validate().then(result => {});
                        return ;
                    });
                }else {
                    axios.post(url, _this.agreement).then(function (response) {
                        if (response.data.code === 0) {
                            alert('操作成功', function () {
                                $("#addAgreement").modal('hide');
                                _this.list();
                            });
                        } else {
                            alert(response.data.msg)
                        }
                    }).catch(function (error) {
                        console.log(error);
                    });
                }

            },
            query: function () {
                var _this=this;
                _this.list();
            },
            saveResource: function () {
                var _this=this;

                var linkMan = _this.customerResource.linkMan;
                var fieldDes = _this.customerResource.fieldDes;
                var name = _this.customerResource.name;
                var phoneNumber = _this.customerResource.phoneNumber;
                var qqNumber = _this.customerResource.qqNumber;
                var sourceCode = _this.customerResource.sourceCode;
                var typeCode = _this.customerResource.typeCode;
                if (!(linkMan&&fieldDes&&name&&phoneNumber&&qqNumber&&sourceCode&&typeCode)) {
                    alert('请正确填写表单数据', function(){
                        _this.$validator.validate().then(result => {});
                        return ;
                    });
                }else{
                    axios.post('api/resource/save/RDSP_002/RFE_001',_this.customerResource).then(function (response) {
                        if(response.data.code === 0){
                            alert('操作成功,资源在我的资源2中显示', function(){
                                $("#addCustomer").modal('hide');
                                _this.list();
                            });
                        }else{
                            alert(response.data.msg)
                        }
                    }).catch(function (error) {
                        console.log(error);
                    });
                }


            },

            back: function () {
                history.go(-1);
            },
            reload: function () {
                var _this=this;
                _this.showAddCustomer=false;
                _this.showList = true;
                _this.showAddRecord=false;
                _this.showAddAgreement=false;
                _this.list();
            },
            recordReload: function(){
                var _this=this;
                _this.showAddRecord = true;
                //TODO
            },
            getCurrentDate: function(){
                var date = new Date();
                var month = date.getMonth() + 1;
                var strDate = date.getDate();
                if (month >= 1 && month <= 9) {
                    month = "0" + month;
                }
                if (strDate >= 0 && strDate <= 9) {
                    strDate = "0" + strDate;
                }
                var currentdate = date.getFullYear() + month + strDate
                    + date.getHours() +  date.getMinutes() + date.getSeconds();
                return currentdate;

            },
            getSureEndDate:function(val){
                this.condition.sureEndDate=val;
            },
            getSureStartDate:function(val){
                this.condition.sureStartDate=val;
            },
            getSubmitEndDate:function(val){
                this.condition.submitEndDate=val;
            },
            getSubmitStartDate:function(val){
                this.condition.submitStartDate=val;
            },
            getRevisitDate:function(val){
                this.revisit.revisitDate=val;
            },
            reload:function(){

            }

        },
        mounted () {
            this.list();
        },
        filters: {
            formatterDate: function (value) {
                return (value == null || value == undefined) ? "" : value.trim().substring(0, 10);
            }
        },

    });

</script>
</body>
</html>